﻿/* -----------------------------------------
   Main site typography
----------------------------------------- */


@import "parts/sections.css";
@import "parts/topmenu.css";
@import "parts/blocks.css";
@import "parts/widgets.css";

@import "parts/animation.css";

/* -----------------------------------------------------
        Main site fonts
------------------------------------------------------*/

body, div, dl, dt, dd, ul, ol, li, pre, form, p, blockquote, th, td {
    font: 400 14px/20px "Segoe UI",'Source Sans Pro', Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h4,
h5,
h3,
#top-menu .link-text,
.action-button,
#top-menu .link-desc,
#header .phone,
.to-action-block .action-button,
.top-text,
.info-box .title,
.about_author_widget .additional-links,
.pricing-table .title,
.crum_stiky_news .blocks-label,
.pricing-table .nazv,
.pricing-table .item-price,
.pricing-table .curr,
.pricing-table .dop-text,
.pricing-table .bullet-item,
.feedb-follows span,
article.post header time
{
    font-family: 'Source Sans Pro', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h4,
h4.wpb_toggle,
h5,
h6,
.post-info,
::-webkit-input-placeholder,
:-moz-placeholder,
.wpb_content_element .ui-tabs .ui-tabs-nav a,
#content .wpb_accordion .ui-accordion .ui-accordion-header a,
.wpb_accordion .ui-accordion .ui-accordion-header a
{
    font-family:  "Segoe UI",'Source Sans Pro', Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h1 {
    font-size: 26px;
    margin: 0;
    line-height: 1.3;
    font-weight: 600;
}
h1.page-title {
    font-weight: 400;
}

h2 {
    font-size: 21px;
    margin: 0;
    line-height: 1.3;
    font-weight: 300;
}

h3 {
    margin: 0;
    font-weight: 600;
    font-size: 19px;
}

h4 {
    margin-top: 0;
    font-weight: 300;
    font-size: 19px;
}

h4.wpb_toggle {
    font-weight: 400;
    font-size: 14px;
    min-height: 21px;
}
h5 {
    font-size: 18px;
    margin: 0;
    line-height: 1.2;
    font-style: italic;
    font-weight: 400;
}
h6 {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    line-height: 1.3;
}

.entry-content {
    line-height:1.6;
}

::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 400;
}
:-moz-placeholder {
    font-style: normal;
    font-weight: 400;
}

hr {
    border: solid #f1f1f1;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 10px;
    height: 0;
}

table thead tr th, table tfoot tr td {
    font-size: 13px;
    font-weight: 400;
}

#top-menu .link-text {
    font: 400 16px/24px "Segoe UI",'Source Sans Pro', Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

}


/*Main colors*/

a.back:hover,
.buttons .button.checkout, #commentform #submit,
.service-icon:hover span,
.tags-widget a:hover,
.comment-author a.comment-reply-link:hover,
.feature-box.al-center:hover .icon,
.feature-box.al-left:hover .icon,
.feature-box.al-right:hover .icon,
#open-top-panel:hover, #open-top-panel.active,
.page-nav .older:hover,
.page-nav .newer:hover
{
    border-color: #26bdef;
}

h3 span, a,
.footer-menu a:hover,
a.back:hover,
#top-menu>ul>li:hover .tile-icon,
.recent-block .tabs.horisontal dd a:hover,
.recent-block .tabs.horisontal dd.active a,
.dopinfo a.comments, .dopinfo a:hover,
.entry-title a:hover,
.post header > div > h3 a:hover,
.widget_crum_galleries_widget h4.box-name a:hover,
.menu-item-wrap:hover:before,
.filter li a:hover, .filter li.active a,
.feature-box.al-center:hover .icon,
.feature-box.al-left:hover .icon,
.feature-box.al-right:hover .icon,
.backtotop,
.share-icons a:hover,
#open-top-panel:hover, #open-top-panel.active,
.page-nav .older:hover,
.page-nav .newer:hover
{
    color: #26bdef;
}


#header .menu > li >ul>li>.menu-item-wrap>a:hover,
#header .menu > li > ul > li >ul>li>.menu-item-wrap>a:hover,
#header .menu > li>ul>li.current-menu-item>.menu-item-wrap>a,

.to-action-block,
.tabs.vertical dd.active,
.tabs.vertical li.active,
#top-footer,
#feedburner_subscribe input[type="submit"],
div.progress .meter,
.crum_stiky_news .blocks-label,
.project-title a:hover,
#top-panel,
.buttons .button.checkout, #commentform #submit,
.service-icon:hover span,
.tags-widget a:hover,
.comment-author a.comment-reply-link:hover,
.slider-nav a.active,
#top-panel .top-panel-inner,
#open-top-panel:hover, #open-top-panel.active,
.pricing-table .title,
.blue-circle
{
    background-color: #26bdef;
}

ul.accordion > li.active > div.title h6
{
    border-bottom: 3px solid #26bdef;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active, .wpb_accordion .ui-accordion .ui-accordion-header-active,
.tabs dd.active a,
.tabs li.active a{
    border-top: 3px solid #26bdef;
}

.backtotop {
    border: 3px solid #26bdef;
}

/*Secondary colors*/

a:hover,
ul.accordion > li.active > div.title .icon_wrap .icon,
#open-top-panel:before
{
    color: #f36f5f;
}

ul.accordion > li.active > div.title .icon_wrap {
    border-bottom: 3px solid #ff6565;
}

#open-top-panel {
    border: 3px solid #ff6565;
}

.backtotop:hover{
    color: #f36f5f;
    border-color: #f36f5f;
}
.extra-links a:hover {
    border-color: #ff6565;
    background-color:#ff6565;
}
.buttons .button.checkout:hover, #commentform #submit {
    background-color: #f36f5f;
    border-color: #f36f5f;
}

::-moz-selection {
    background-color: #f36f5f;
    color: #fff;
}

::selection {
    background-color: #f36f5f;
    color: #fff;
}

h1, h2, h3, h4, h5, h6,
.author-description > h6 a,
.project-title,
.info-box .title,
ul.accordion > li.active > div.title h5, ul.accordion > li.active > div.title h4, ul.accordion > li.active > div.title h3, ul.accordion > li.active > div.title h2,
ul.accordion > li > div.title h1, ul.accordion > li > div.title h2, ul.accordion > li > div.title h3, ul.accordion > li > div.title h4, ul.accordion > li > div.title h5,
{
    color: #494949;
}

body,
.tour-block p,
.tabs.vertical dd a,
.tabs.vertical li a,
.button, .submitbutton,
#commentform #submit,
.comment-author a.comment-reply-link,
.wpb_toggle_content,
table tbody tr td,
table thead tr th,
table tfoot tr td,
.skills_widget .skill-percent,
#layout .tags-widget a,
.wpb_content_element .ui-tabs .ui-tabs-nav a,
#content .wpb_accordion .ui-accordion .ui-accordion-header a,
.wpb_accordion .ui-accordion .ui-accordion-header a,
.team-value,
label,
.soc-head-icons a:hover,
.info-box p,
.tabs.vertical dd a:active,
ul.accordion p,
#header .phone,
.entry-title, .box-name, .comment-author .fn, .project-title a,
#top-menu .link-text,
.quoteCite .quote-author, .entry-title, .box-name,
.about_author_widget .quote-author,
.team-photo h4 a,
.project-info, .project-info a,
.crum_stiky_news .blocks-text,
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption,
.person-list,
.person-list strong,
.pricing-table .title,
.pricing-table .bullet-item,
.post-links ul  li a,
.tour-block p,
h4.box-name a

{
    color: #828a93;
}

#top-menu .link-text,
.quoteCite .quote-author, .entry-title, .box-name,
.post header > div h3 a,
article.post header time .day

{
    color: #565a5f;
}


/*Icons colors*/

.soc-head-icons a,
#header .phone .icon-mobile,
.info-box .icon,
a.back,
.quote:before,
.skills_widget .skill-percent span,
.share-icons a,
.widget-title .icon,
.feature-box.al-center .icon,
.service-icon span,
.icon-format:before,
.extra-links a,
.extra-links,
.extra-links a:before,
.tile-icon, .menu-item-wrap:before,
.feature-box .icon,
a.back,
.page-nav .older,
.page-nav .newer,
article.post header time .month
{
    color: #d8d8d8;
    border-color: #d8d8d8;
}


.slider-nav a:hover{
    background: #d8d8d8;
}

.extra-links {
    color: #ebebeb;
    border-color: #ebebeb;
}
/* */


.quoteCite .quote-sub,
.about_author_widget .additional-links span,
.about_author_widget .quote-sub,
.comment-author time,
.post-info,
.dopinfo,
.tweet .time,
.tags-widget a,
.widget_rss_mail_subscribe
{
    color: #bdc4c7;
}

.extra-links a:hover:before,
.tabs.vertical dd.active a,
.tabs.vertical li.active a,
.to-action-block *,
.to-action-block .action-button,
.item .description a,
.item .description .icon-format:before,
.item .description{
    color: #fff;
}


.to-action-block .action-button {
    background-color: #68cc90;
}




a, #stuning-header a {
    -moz-transition: color .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out;
    -o-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}

.soc-head-icons a {
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
.tile-icon, .menu-item-wrap:before {
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.feature-box .icon,
.clients-item,
.comment-author a.comment-reply-link,
.backtotop,
.item .description .sl-item-title,
#open-top-panel{

    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a.back, #stuning-header a.back {
    -moz-transition: color .2s linear, border-color .2s linear;
    -webkit-transition: color .2s linear, border-color .2s linear;
    -o-transition: color .2s linear, border-color .2s linear;
    transition: color .2s linear, border-color .2s linear;
}
a.back:before .extra-links a {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.extra-links a,
#top-panel .top-login input{
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.feature-box.al-center, .feature-box.al-left, .feature-box.al-right {
    -moz-transition: border-color .6s linear;
    -webkit-transition: border-color .6s linear;
    -o-transition: border-color .6s linear;
    transition: border-color .6s linear;

    -moz-transition: background .2s linear;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
}

.list-blocks a,
.twitter-row .nav a
{
    transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
}

.tabs.vertical dd a,
.tabs.vertical li a {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}

a.text-button, #top-panel .top-login input.button-primary {
    transition: linear all .3s;
    -webkit-transition: linear all .3s;
    -moz-transition: linear all .3s;
    -o-transition: linear all .3s;
}

.button, .submitbutton, #commentform #submit, .tags-widget a {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.service-icon span {
    -moz-transition: border-color .6s linear;
    -webkit-transition: border-color .6s linear;
    -o-transition: border-color .6s linear;
    transition: border-color .6s linear;

    -moz-transition: background .2s linear;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
}

#header .s-field {
    -moz-transition: width .3s ease-in-out;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.hover-box,
.page-nav .older,
.page-nav .newer,
.page-nav .older a,
.page-nav .newer a
{
    -moz-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.hover-box:before, .hover-box:after {
    -moz-transition: border-width .3s ease-in-out;
    -webkit-transition: border-width .3s ease-in-out;
    -o-transition: border-width .3s ease-in-out;
    transition: border-width .4s ease-in-out;
}
.hover-box .more-link,
.hover-box .zoom-link {
    -moz-transition: background .3s, opacity .3s ease-in-out, left .3s ease-in-out, right .3s ease-in-out;
    -webkit-transition: background .3s, opacity .3s ease-in-out, left .3s ease-in-out, right .3s ease-in-out;
    -o-transition: background .3s, opacity .3s ease-in-out, left .3s ease-in-out, right .3s ease-in-out;
    transition: background .3s, opacity .3s ease-in-out, left .3s ease-in-out, right .3s ease-in-out;
}

.item .description {
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.item .description .sl-description,
.item .description .sl-title
{
    transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
}




.icon.animated{
    -webkit-animation: crum_appear 2s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275); /* Safari 4+ */
    -moz-animation:    crum_appear 2s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275); /* Fx 5+ */
    -o-animation:      crum_appear 2s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275); /* Opera 12+ */
    animation:         crum_appear 2s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275); /* IE 10+ */
    opacity: 1;
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}



/* ======================================================================================================================================================
ANIMATIONS
====================================================================================================================================================== */


/*pop up animation*/
@-webkit-keyframes crum_appear {
    0%   { -webkit-transform:scale(0.1); opacity: 0.1;  }
    100% { -webkit-transform:scale(1); opacity: 1; }
}
@-moz-keyframes crum_appear {
    0%   { -moz-transform:scale(0.1); opacity: 0.1;  }
    100% { -moz-transform:scale(1);opacity: 1;  }
}
@-o-keyframes crum_appear {
    0%   { -o-transform:scale(0.1); opacity: 0.1;  }
    100% { -o-transform:scale(1);  opacity: 1; }
}
@keyframes crum_appear {
    0%   { transform:scale(0.1); opacity: 0.1;  }
    100% { transform:scale(1); opacity: 1;  }
}

/*slide down (height increase) animation*/
@-webkit-keyframes crum_slide_down {
    0%   { height:0%; }
    100% { height:100%; }
}
@-moz-keyframes crum_slide_down {
    0%   { height:0%; }
    100% { height:100%; }
}
@-o-keyframes crum_slide_down {
    0%   { height:0%; }
    100% { height:100%; }
}
@keyframes crum_slide_down {
    0%   { height:0%; }
    100% { height:100%; }
}

/*expand width animation*/
@-webkit-keyframes crum_expand {
    0%   { width:0%; }
    100% { width:100%; }
}
@-moz-keyframes crum_expand {
    0%   { width:0%; }
    100% { width:100%; }
}
@-o-keyframes crum_expand {
    0%   { width:0%; }
    100% { width:100%; }
}
@keyframes crum_expand {
    0%   { width:0%; }
    100% { width:100%; }
}

/*fade in animation*/

@-webkit-keyframes crum-ltr {
    0%   { -webkit-transform:translate(-10%,0); opacity: 0;  }
    100% { -webkit-transform:translate(0,0); opacity: 1; }
}
@-moz-keyframes crum-ltr {
    0%   { -moz-transform:translate(-10%,0); opacity: 0;  }
    100% { -moz-transform:translate(0,0); opacity: 1; }
}
@-o-keyframes crum-ltr {
    0%   { -o-transform:translate(-10%,0); opacity: 0;  }
    100% { -o-transform:translate(0,0); opacity: 1; }
}
@keyframes crum-ltr {
    0%   { transform:translate(-10%,0); opacity: 0;  }
    100% { transform:translate(0,0); opacity: 1; }
}

@-webkit-keyframes crum-rtl {
    0%   { -webkit-transform:translate(10%,0); opacity: 0;  }
    100% { -webkit-transform:translate(0,0); opacity: 1; }
}
@-moz-keyframes crum-rtl {
    0%   { -moz-transform:translate(10%,0); opacity: 0;  }
    100% { -moz-transform:translate(0,0); opacity: 1; }
}
@-o-keyframes crum-rtl {
    0%   { -o-transform:translate(10%,0); opacity: 0;  }
    100% { -o-transform:translate(0,0); opacity: 1; }
}
@keyframes crum-rtl {
    0%   { transform:translate(10%,0); opacity: 0;  }
    100% { transform:translate(0,0); opacity: 1; }
}

@-webkit-keyframes crum-btt {
    0%   { -webkit-transform:translate(0,50%); opacity: 0;  }
    100% { -webkit-transform:translate(0,0); opacity: 1; }
}
@-moz-keyframes crum-btt {
    0%   { -moz-transform:translate(0,50%); opacity: 0;  }
    100% { -moz-transform:translate(0,0); opacity: 1; }
}
@-o-keyframes crum-btt {
    0%   { -o-transform:translate(0,50%); opacity: 0;  }
    100% { -o-transform:translate(0,0); opacity: 1; }
}
@keyframes crum-btt {
    0%   { transform:translate(0,50%); opacity: 0;  }
    100% { transform:translate(0,0); opacity: 1; }
}

@-webkit-keyframes crum-ttb {
    0%   { -webkit-transform:translate(0, -10%); opacity: 0;  }
    100% { -webkit-transform:translate(0,0); opacity: 1; }
}
@-moz-keyframes crum-ttb {
    0%   { -moz-transform:translate(0, -10%); opacity: 0;  }
    100% { -moz-transform:translate(0,0); opacity: 1; }
}
@-o-keyframes crum-ttb {
    0%   { -o-transform:translate(0, -10%); opacity: 0;  }
    100% { -o-transform:translate(0,0); opacity: 1; }
}
@keyframes crum-ttb {
    0%   { transform:translate(0, -10%); opacity: 0;  }
    100% { transform:translate(0,0); opacity: 1; }
}

/*background animation*/
@-webkit-keyframes crum-bg-move {
    0%   { background-position: -31px 0;  }
    100% { background-position: 0 0; }
}
@-moz-keyframes crum_bg_move {
    0%   { background-position: -31px 0;  }
    100% { background-position: 0 0; }
}
@-o-keyframes crum_bg_move {
    0%   { background-position: -31px 0;  }
    100% { background-position: 0 0; }
}
@keyframes crum_bg_move {
    0%   { background-position: -31px 0;  }
    100% { background-position: 0 0; }
}

/*caption animation*/

@-webkit-keyframes caption-right {
    0%   { -webkit-transform:translate(2000px,0); opacity: 0;  }
    100% { -webkit-transform:translate(0,0); opacity: 1; }
}
@-moz-keyframes caption-right {
    0%   { -moz-transform:translate(2000px,0); opacity: 0;  }
    100% { -moz-transform:translate(0,0); opacity: 1; }
}
@-o-keyframes caption-right {
    0%   { -o-transform:translate(2000px,0); opacity: 0;  }
    100% { -o-transform:translate(0,0); opacity: 1; }
}
@keyframes caption-right {
    0%   { transform:translate(2000px,0); opacity: 0;  }
    100% { transform:translate(0,0); opacity: 1; }
}

@-webkit-keyframes caption-left {
    0%   { -webkit-transform:translate(-2000px,0); opacity: 0;  }
    100% { -webkit-transform:translate(0,0); opacity: 1; }
}
@-moz-keyframes caption-left {
    0%   { -moz-transform:translate(-2000px,0); opacity: 0;  }
    100% { -moz-transform:translate(0,0); opacity: 1; }
}
@-o-keyframes caption-left {
    0%   { -o-transform:translate(-2000px,0); opacity: 0;  }
    100% { -o-transform:translate(0,0); opacity: 1; }
}
@keyframes caption-left {
    0%   { transform:translate(-2000px,0); opacity: 0;  }
    100% { transform:translate(0,0); opacity: 1; }
}

@-webkit-keyframes caption-top {
    0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
    100% { -webkit-transform:translate(0,0); opacity: 1; }
}
@-moz-keyframes caption-top {
    0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
    100% { -moz-transform:translate(0,0); opacity: 1; }
}
@-o-keyframes caption-top {
    0%   { -o-transform:translate(0,-20px); opacity: 0;  }
    100% { -o-transform:translate(0,0); opacity: 1; }
}
@keyframes caption-top {
    0%   { transform:translate(0,-20px); opacity: 0;  }
    100% { transform:translate(0,0); opacity: 1; }
}

@-webkit-keyframes caption-bottom {
    0%   { -webkit-transform:translate(0,20px); opacity: 0;  }
    100% { -webkit-transform:translate(0,0); opacity: 1; }
}
@-moz-keyframes caption-bottom {
    0%   { -moz-transform:translate(0,20px); opacity: 0;  }
    100% { -moz-transform:translate(0,0); opacity: 1; }
}
@-o-keyframes caption-bottom {
    0%   { -o-transform:translate(0,20px); opacity: 0;  }
    100% { -o-transform:translate(0,0); opacity: 1; }
}
@keyframes caption-bottom {
    0%   { transform:translate(0,20px); opacity: 0;  }
    100% { transform:translate(0,0); opacity: 1; }
}



/* -----------------------------------------
   Additional theme styles
----------------------------------------- */

h4.box-name {
    margin-bottom: 0;
}

.nav {
    margin: 0;
}

small {
    font-size:12px;
}

address {
    font-style: normal;
}

table {
    width: 100%;
}

.delim {
    width: 1px;
    height: 7px;
    display: inline-block;
}
strong, b, .has-tip {
    font-weight: 900;
}

.has-tip {
    margin: 0 10px;
}

.fixed {
    position: static;
    z-index: inherit;
}
article.sticky {
    float: none;
    overflow:visible;
}
article .entry-content-asset {
    margin-bottom: 20px;
}
#main-content.twelve article .post-media img {
    min-width: 100%;
}

label {
    display: inline-block;
}

img, video, iframe {
    border-radius: 3px;
    behavior:url(border-radius.htc);
}

blockquote {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    position: relative;
}

.clearing-container {
    z-index: 1;
}

.ovh {
    overflow:hidden;
}
.al-right {
    text-align: right;
}
.al-right .button, .al-right .icon {
    float: right;
    margin-left: 35px;
}
.al-left {
    text-align: left;
}
.al-left .button, .al-left .icon  {
    float: left;
    margin-right: 35px;
}
.al-center {
    text-align: center;
}
.al-center .button, .al-center .icon {
    float: none;
    margin: 0 auto 10px auto;
}


.cl {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


code, pre {
    color: #333;
    font: 11px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    word-break: break-all;
    word-wrap: break-word;
}
code {
    background: none;
}

pre {
    margin: 15px 0;
    background-color: #f4f4f4;
    border: 1px solid #c7c7c7;
    display: block;
    line-height: 19px;
    overflow: visible;
    overflow-y: hidden;
    padding: 0 0 0 4px;
}


/* -----------------------------------------
   Images and gallery
----------------------------------------- */


/**
 * 5.4 Galleries
 * ----------------------------------------------------------------------------
 */

.gallery {
    margin: 10px 0;
    margin-left: -4px;
}

.gallery-item {
    float: left;
    margin: 0 10px 10px 0;
    overflow: hidden;
    position: relative;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail,
.gallery-columns-4.gallery-size-thumbnail{
    display: table;
    margin: 0 auto 20px;
}

.gallery-columns-1 .gallery-item {
    max-width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 48%;
    max-width: -webkit-calc(50% - 4px);
    max-width:         calc(50% - 4px);
    text-align: center;
}

.gallery-columns-3 .gallery-item {
    max-width: 31%;
    max-width: -webkit-calc(33.3% - 4px);
    max-width:         calc(33.3% - 4px);
    text-align: center;
}

.gallery-columns-4 .gallery-item {
    max-width: 23%;
    max-width: -webkit-calc(25% - 4px);
    max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
    max-width: 19%;
    max-width: -webkit-calc(20% - 4px);
    max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
    max-width: 15%;
    max-width: -webkit-calc(16.7% - 4px);
    max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
    max-width: 13%;
    max-width: -webkit-calc(14.28% - 4px);
    max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
    max-width: 11%;
    max-width: -webkit-calc(12.5% - 4px);
    max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
    max-width: 9%;
    max-width: -webkit-calc(11.1% - 4px);
    max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
    margin-right: 0;
}

.gallery-caption {
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
    max-height: 50%;
    opacity: 0;
    padding: 2px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    -webkit-transition: opacity 400ms ease;
    transition:         opacity 400ms ease;
    width: 100%;
}

.gallery-caption:before {
    box-shadow: 0 -10px 15px #000 inset;
    content: "";
    height: 100%;
    min-height: 49px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.gallery-item:hover .gallery-caption {
    opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}

.gallery:before,
.gallery:after{
    content: "";
    display: table;
}

.wp-caption {
    max-width: 100%; /* Keep wide captions from overflowing their container. */
    padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
    font-style: italic;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 2;
}

.alignleft {
    float: left;
    margin: 0 15px 7px 0;
}
.alignright {
    float: right;
    margin: 0 0 7px 15px;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.req-clearing-container .carousel {
    overflow: hidden;
    padding-left: 1px;
}



/* -----------------------------------------
   Layout settings
----------------------------------------- */

.row {
    width: 1200px;
    position: relative;
}

.boxed_lay {
    max-width: 1220px;
    margin: 0 auto;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.post-info, .dopinfo, .tweet .time {
    font-style: italic;
}

#layout.no-title {
    padding-top: 10px;
}
#layout.magazine {
    padding-top: 30px;
}

body>iframe {
    display: none;
}

/* -----------------------------------------
   Page contacts
----------------------------------------- */

.page-block-title {
    padding-bottom: 12px;
    margin-bottom: 15px;
}
.anti-spam-question {
    padding-top: 10px;
}
.cont-text {
    margin-bottom: 20px;
}


#map {
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
}

#page_feedback {
    padding-top: 5px;
}
.contacts-text {
    padding: 30px 0;
}

.team-brick {
    margin: 20px 0;
}
.team-photo {
    width: 80px;
    float: left;
    margin: 0 14px 0 0;
    text-align: center;
}
.team-photo img {
    border-radius: 4px;
    behavior:url(border-radius.htc);
    margin-bottom: 5px;
}
.team-photo h4 {
    line-height: 1.3;
    font-size: inherit;
    margin-bottom: 2px;
}
.team-photo h4 a {
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
}
.team-value {
    display: block;
    padding-bottom: 5px;
    font-size: 12px;
    font-style: italic;
}
.team-desc {
    position: relative;
    padding: 15px 20px;
    margin: 0 0 0 6px;
    background-color: #fafafa;
    border: 1px solid #f1f1f1;
}
.team-desc p {
    margin: 0;
}
.team-desc:before {
    content: "";
    position: absolute;
    left: -8px;
    top: 90px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 8px solid #f1f1f1;
    border-bottom: 6px solid transparent;
}
.team-desc:after {
    content: "";
    position: absolute;
    left: -6px;
    top: 90px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 8px solid #fafafa;
    border-bottom: 6px solid transparent;
}

.contact-desc {
    line-height: 30px;
    font-style: italic;
}
.contact-desc p {
    font-style: italic;
}
.contact-info {
    margin: 0 0 60px 85px;
}

/* -----------------------------------------
   Posts / blog styling
----------------------------------------- */

time {
    display:inline;
}
.dopinfo {
    font-size: 12px;
    line-height: 1.2;
    padding-top: 2px;
    font-style: italic;
}
.dopinfo a, .post-info a{
    color: inherit;
}

/* -----------------------------------------
   Twitter row
----------------------------------------- */

.twitter-row .icon {
    float: left;
    width: 39px;
    height: 37px;
    background: url(../img/icons/twitter-ico.png) 0 0 no-repeat;
    border-radius: 100em;
    behavior:url(border-radius.htc);
    margin-right: 15px;
}
.twitter-row iframe {
    float: left;
    margin: 11px 0  0 55px;
}
.twitter-row .twitter-item {
    color: #ffffff;
    padding-top: 5px;
}
.twitter-row .twitter-item a {
    color:#ffffff;
}
.twitter-row .twitter-item .date {
    font-size: 12px;
    color: #b0ebff;
    font-style: italic;
}
.twitter-row .nav{
    text-align: right;
}

.twitter-row .nav a {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: 10px 0 0 6px;
    opacity:.6;
}
.twitter-row .nav a:hover {
    opacity:1;
}.twitter-row a.flex-prev {
    right: 0;
    left: auto;
 }
.twitter-row a.flex-prev,
.twitter-row a.flex-next {
    background: url(../img/arrow-twitter.png) 0 -26px no-repeat;
}

.twitter-row a.flex-next {
    background-position:0 0;
}

.flex-direction-nav li {
    display: inline;
}

/* -----------------------------------------
   Footer styling
----------------------------------------- */

#top-footer {
    padding: 13px 0;
    clear: both;
}

#top-footer ul, #top-footer li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#footer {
    background: #79848e;
    color: #ffffff;
    padding-top: 50px;
}
#footer small {
    color: #c0ccd8;
}
#footer a {
    color: #9de7ff;
}

#footer h1,
#footer h1 a,
#footer h2,
#footer h2 a,
#footer h3,
#footer h3 a,
#footer h4,
#footer h4 a,
#footer h5,
#footer h5 a,
#footer h6,
#footer h6 a {
    color:#fff;
}
.foot-logo {
margin-right:20px;
float:left;
}

#footer .widget_crum-text-widget .add-text{
    padding-top: 10px;
}

#footer .widget_crum-text-widget p {
    font-size: 13px;
    margin-bottom: 5px;
}

#footer .widget_crum-text-widget .delim {
    display: inline-block;
    margin: 0 20px  0 0;
    padding:  0 0 0 19px;
    height: 1em;
    border-right: 1px solid #88949f;
}

#footer .widget_crum-text-widget .additional {
    font-size:12px;
    clear: both;
    padding-top: 20px;
}

#footer .tags-widget a:hover {
    color:#fff;
}
#sub-footer {
    background: #79848E;
    color: #cfd7da;
    padding: 0 0 3px;
}
.copyr {
    line-height: 1.5;
    font-size:12px;
}
.logo-footer {
    float:left;
    margin:0 30px 20px 0;
}
.footer-menu {
    padding: 0;
    margin: 40px 0 0;
    list-style: none;
    float: right;
}
.footer-menu li {
    display: inline-block;
    padding-left: 15px;
    font-size: 12px;
}
.footer-menu li.last {
    margin: 0;
    padding: 0;
    background: none;
}
.footer-menu a{
    color: #cfd7da;
}



#footer .styled-list li {
    background-image:url(../img/arrow-list-footer.png);
}
#footer .styled-list li p {
    font-style: italic;
}

#footer .contacts-widget p {
    color: #b1c0c7;
}

#footer .post-info a {
    color: #bdc4c7;
}

#footer .post-info {
    color:#b4bfca;
}

#footer .tags-widget a {
    color:#cad6e2;
}

/* -----------------------------------------
  Pricing Table
----------------------------------------- */

.pricetable-column {
    float: left;
    padding: 0 10px;
}
.pricetable-first {
    padding-left: 0;
}
.pricetable-last {
    padding-right: 0;
}

.pricing-table {
    border: none;
    margin: 0;
}

.pricing-table .title{
    text-align: center;
    margin-top: 40px;
    padding: 15px 0 45px 0;
    position: relative;
    border-radius: 3px;
    behavior:url(border-radius.htc);
}
.pricing-table .title:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #26bdef;
    top: 95%;
    left: 50%;
    margin-left: -15px; /* adjust for border width */
}

.pricing-table .nazv {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    position: absolute;
    top: -35px;
    width: 100%;
    text-align: center;
}

.pricing-table .item-price {
    color: #fff;
    font-size: 43px;
    font-weight: 300;
    display: inline-block;
    border-radius: 100em;
    behavior:url(border-radius.htc);
    width: 90px;
    height:90px;
    line-height: 79px;
    border: 5px solid #42d0ff;
}

.pricing-table .mini-desc {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -67px;
    text-align: left;
    width: 170px;
}

.pricing-table .curr {
    font-size: 30px;
    font-weight: 300;
    position: relative;
    top: -15px;
    color: #fff;
}
.pricing-table .period {
    font-size: 14px;
    font-weight: 300;
    position: relative;
    float: right;
    color: #fff;
}
.pricing-table .addinfo {
    display: block;
    color: #fff;
    font-size: 14px;
    font-style: italic;
    padding-top: 25px;
}

.pricing-table .dop-text {
    padding: 15px;
    line-height: 1.8;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
}
.pricing-table .bullet-item {
    background-color: #fff;
    padding: 15px;
    line-height: 1.3;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    border:none;
}

.pricing-table .bullet-item:nth-child(odd) {
    background: #f9fafc
}
.pricing-table .cta-button {
    background: #fff;
    text-align: center;
    padding: 20px;
}

/* -----------------------------------------
   Thumbnails hover
----------------------------------------- */

/* portfolio items hover */

.entry-thumb:hover .hover-box, #flickr>a:hover .hover-box {
    background: rgb(38, 189, 239);
    background: rgba(38, 189, 239, .8);
}

.entry-thumb:hover .zoom-link, .zoom:hover .zoom-link {
    opacity: 1;
    left: 50%;
}

.entry-thumb:hover .more-link {
    opacity: 1;
    right: 50%;
}

.entry-thumb:hover .hover-box:before {
    border-bottom-width:27px;
    border-left-width:27px;
}
.entry-thumb:hover .hover-box:after {
    border-top-width:27px;
    border-right-width:27px;
}
.hover-box {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    behavior:url(border-radius.htc);
}

.hover-box:before {
    content:"";
    width:0;
    height:0;
    position: absolute;
    right:0;
    bottom:0;
    border-bottom:0 solid #ffffff;
    border-left:0 solid transparent;
}
.hover-box:after {
    content:"";
    width:0;
    height:0;
    position: absolute;
    right:0;
    bottom:0;
    border-top:0 solid #ff6565;
    border-right:0 solid transparent;
}
.hover-box .more-link,
.hover-box .zoom-link {
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid #ffffff;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    opacity: 0;
}
.hover-box .more-link {
    background:  url(../img/hover-link.png) no-repeat 50% 50%;
    margin-right: -52px;
    right: 0;

}
.hover-box .zoom-link {
    background: url(../img/hover-search.png) no-repeat 50% 50%;
    margin-left: -52px;
    left: 0;
}

.hover-box .more-link:hover,
.hover-box .zoom-link:hover {
    background-color: rgba(255,255,255,0.3);
}

/* blog items hover */

article .entry-thumb, .single-post article.post .entry-thumb {
    margin-bottom: 25px;
}

.entry-thumb {
    margin-bottom: 15px;
    position: relative;
    display: block;
    overflow: hidden;
}
.entry-thumb img,
.slide-post.orbit img{
    min-width: 100%;
    display: block;
    border-radius: 3px;
    behavior:url(border-radius.htc);
}
.entry-thumb a.text-button {
    position: absolute;
    top: 150%;
    left:50%;
    margin-top:-15px;
    margin-left: -60px;
}
.entry-thumb:hover a.text-button {
    top: 50%;
}
.entry-thumb a {
    display: block;
}




/* -----------------------------------------
   Searchform
----------------------------------------- */

#searchform, input#s {
    position: relative;
}
#searchform .s-submit, #searchsubmit {
    background: url(../img/search-go.png) no-repeat 50% 50%;
    float: right;
    width: 21px;
    height: 20px;
    overflow: hidden;
    text-indent: -100em;
    margin: 11px 0 11px 25px;
    border: none;
    cursor: pointer;
    text-indent: -999em;
    }

.widget #searchform .s-field {
    padding-right: 40px;
}
.widget #searchform .s-submit, #searchsubmit  {
    position: absolute;
    margin: 0;
    top: 9px;
    right: 10px;
}

#searchsubmit{
top: 32px;}

#header .s-field {
    float: left;
    margin: 0;
    display: none;
    width: 240px;
    z-index:2;
    position: absolute;
    right: 49px;
}
#header #searchform .s-submit {
    margin:0 0 0 -2px;
    height:38px;
    width:50px;
    border-left: 1px solid #eeeeee;
    padding: 11px 0 11px 25px;
    background-position: 100% 60%;
}

/* -----------------------------------------
   Date for posts
----------------------------------------- */

article.post header time {
    float: left;
    display: block;
    width: 28px;
    margin-right: 20px;
}
article.post header time .day {
    font-size: 19px;
    display: block;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #efefef;
    line-height: 1;
    padding-bottom: 2px;
}
article.post header time .month {
    font-size: 12px;
    display: block;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding-top: 1px;
    line-height: 1;
}
article.post header .post-info {
    padding-bottom: 0;
}
.header-wrap {
    border-left: 1px solid #efefef;
    padding-left: 20px;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.header-wrap .entry-meta i {
    font-size: 16px;
    margin: 0 3px 0 5px;
}
/* -----------------------------------------
   Icons for post formats
----------------------------------------- */

.icon-format {
    width: 53px;
    height: 58px;
    display: block;
    text-align: center;
    float: left;
    margin: -11px 20px 0 0;
    background: url("../img/format-bg.png") 0 0 no-repeat;
}
.icon-format:before {
    content: '\e00f';
    font-size: 24px;
    text-align:left;
    position:relative;
    color: #fff !important;
    padding-top: 16px;
    left: 1px;
}
.format-gallery .icon-format:before {
    content: '\e01b';
}
.format-video .icon-format:before {
    content: '\e005';
}

/* -----------------------------------------
   Blog Page
----------------------------------------- */

.post header {
    margin-bottom: 10px;
    clear: both;
}
.post header h3 {
    position: relative;
    top: -2px;
}
.blog-section .post {
    margin-bottom: 40px;
}
.blog-section .post .entry-thumb {
    margin-bottom:0;
}

.blog-section.sidebar-both,
.blog-section.sidebar-right2 {
    width: 75%;
    float: left;
}
.blog-section.sidebar-both2 {
    width: 66.66%;
    float: left;
}

.blog-section.sidebar-both2 #main-content {
    float: right;
    width: 50%;
}

.blog-section.sidebar-both2 #left-sidebar {
    width: 50%;
}

.blog-section.sidebar-left2 {
    width: 75%;
    float: right;
}

.sidebar-both #left-sidebar.three {
    width: 33.3%;
    float: left;
}
.sidebar-both #main-content.six {
    width: 66.6%;
    float: right;
}
.sidebar-right2 #left-sidebar.three {
    width: 33.3%;
    float: right;
}
.sidebar-right2 #main-content.six {
    width: 66.6%;
    float: left;
}
.sidebar-left2 #main-content.six {
    width: 66.6%;
    float: right;
}
.sidebar-left2 #right-sidebar.three {
    width: 33.3%;
    float: left;
}
.sidebar-left #main-content.nine {
    float: right;
}
.sidebar-left #left-sidebar.three {
    float: left;
}

.post-media {
    position: relative;
    overflow: hidden;
}
.post-media > img,
.post-media > embed,
.post-media > object {
    min-width: 100%;
}
.post-media > img {
    border-radius: 2px;
    behavior:url(border-radius.htc);
}
.post-media {
    margin-bottom: 26px;
}
.some-aligned-post .post-media {
    margin-bottom: 0;
}

.some-aligned-post.left-thumbed .more-button, .some-aligned-post.right-thumbed .more-button,
.project.one-photo .more-button{
    display: none;
}
.some-aligned-post.right-thumbed .post-media {
    padding-left:0;
}
.page-template-tmp-archive-left-img-php .blog-section article,
.page-template-tmp-archive-right-img-php .blog-section article{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #efefef;
}

.post > .ovh > .divider  {
    padding-top: 10px;
}

.post.masonry-brick .post-tags {
    display: none;
}

.post-info {
    padding: 4px 0 8px;
    font-weight: 400;
    font-size: 11px;
    font-style: italic;
}
.blog-section .post-info {
    padding-top:0;
}

/* -----------------------------------------
   Navigation
----------------------------------------- */

.page-nav {
    overflow: hidden;
    clear: both;
    margin: 30px 0 20px;
}

.page-nav .older ,
.page-nav .newer {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right:10px;
    text-align:center;
    border: 2px solid;
    border-radius: 100em;
    behavior:url(border-radius.htc);
    position: relative;
    text-indent: -999em;
}

.page-nav a:before {
    text-indent: 0;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 18px;
    font-size: 11px;
    line-height: 20px;
    left: 0;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    position: absolute;
}
.page-nav .older:before {
    content: '\e805';
}
.page-nav .newer:before {
    content: '\e806';
}


/* -----------------------------------------
   Opened post
----------------------------------------- */

.about-author {
    padding: 5px 0 25px;
}
.author-photo {
    float: left;
    margin: 0 24px 10px 0;
}
.author-photo img {
    border-radius: 3px;
    behavior:url(border-radius.htc);
}
.author-description > h6 {
    font-size: 15px;
    margin: -5px 0 8px;
    line-height: 1.5;
}
.post-links {
    padding: 4px 18px;
    background-color: #fafafa;
    border: 1px solid #f1f1f1;
}

.post-links ul {
    margin: 0;
}
.post-links ul  li {
    list-style: none;
    display: inline;
    padding-left: 20px;
    background: url(../img/dot.gif) 6px 50% no-repeat;
}
.post-links ul  li:first-child {
    padding-left: 0;
    background: none;
}
.post-links ul  li a {
    font-size: 11px;

}
.share-icons  {
    padding: 5px 0 20px;
}
.share-icons a {
    font-size: 14px;
    margin-right: 10px;
}

/* -----------------------------------------
   Comments section
----------------------------------------- */

#comments {
    margin-bottom: 55px;
}
#comments > h3,
#respond > h3 {
    font-size: 26px;
    font-weight: 400;
}
.commentlist {
    margin: 0;
}
.commentlist li {
    list-style: none;
    margin-bottom: 30px;
}
.commentlist ul li {
}
.commentlist ul.children {
    margin-top: 30px;
}
.comment .ovh {
    padding-left: 10px;
}
.comment .avatar {
    border-radius: 4px;
    behavior:url(border-radius.htc);
    float: left;
    margin: 4px 10px 10px 0;
}
.comment-author {
    font-size: 12px;
}
.comment-author .fn {
    font-style: normal;
    font-size: 15px;
    display: block;
    padding-bottom: 0;
}

.comment-author time {
    margin-right: 15px;
    float: left;
    clear: left;
    font-size: 11px;
}
.comment-author a {
    color: inherit;
}
.comment-author a.comment-reply-link {
    padding: 1px 10px 2px;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    float: right;
    position: relative;
    top: -20px;

    background: #ffffff;
    border: 2px solid #e7eef1;
    text-transform: uppercase;
}
.comment-author a.comment-reply-link:hover {
    color: #fff;
}
.comment-content {
    position: relative;
    padding: 13px 20px;
    margin: 10px 0 0;
    background-color: #fafafa;
    border: 1px solid #f1f1f1;
    clear: both;
}
.comment-content:before {
    content: "";
    position: absolute;
    left: -8px;
    top: 15px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 8px solid #f1f1f1;
    border-bottom: 6px solid transparent;
}
.comment-content:after {
    content: "";
    position: absolute;
    left: -6px;
    top: 15px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 8px solid #fafafa;
    border-bottom: 6px solid transparent;
}
.comment-content p {
    margin: 0;
}
.commentlist ul {
    margin-left: 30px;
    padding-left: 50px;
    position: relative;
}
.commentlist ul:before {
    content: "";
    width: 1px;
    height: 85px;
    background-color: #f1f1f1;
    position: absolute;
    left: 0;
    top: 0;
}
#respond h3,
#comments h3 {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 25px;
    padding-bottom: 20px;
}
#commentform {
    padding-bottom: 15px;
}
.commentform-inner input:last-child {
    margin-right: 0;
}
.commentform-inner input {
    width: 31%;
    margin-right: 2.8%;
    margin-bottom: 17px;
    display: inline-block;
}

/* -----------------------------------------
   Porfolio Page
----------------------------------------- */

.sort-panel {
    float: none;
}
.project {
    margin-bottom: 20px;
}
.three.columns.project {
    margin-bottom: 30px;
}
.project .entry-thumb {
    margin-bottom: 0;
}
.project.round .entry-thumb > img {
    border-radius: 100%;
    behavior:url(border-radius.htc);
}
.project.round .entry-thumb .hover-box {
    border-radius: 100%;
    behavior:url(border-radius.htc);
}
.project.round .entry-thumb:hover .hover-box:before,
.project.round .entry-thumb:hover .hover-box:after{
    display: none;
}
.project-title {
    text-transform: uppercase;
}
.project .entry-content {
    margin-top: 20px;
}
.project.one-photo{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #efefef;
}
.project.one-photo .entry-thumb img {
    min-width: 100%;
}

.single-my-product .project.one-photo {
    padding-bottom: 0;
    border: none;
}


.project-info {
    margin: -2px 0 3px;
    font-size: 12px;
    text-transform: uppercase;
}

.person-list {
    list-style: none;
    padding: 20px 0;
    font-style: italic;
}

.one-photo .person-list {
    padding: 20px 0;
}
.person-list li {
    padding-bottom: 9px;
    font-size: 13px;
}
.single-my-product .person-list li {
    font-size: 14px;
}
.one-photo li {
    padding-bottom: 5px;
}
.one-photo .project .entry-content {
    padding-top: 10px;
}
.person-list strong {
    font-weight: normal;
 }
.person-list b {
    padding-right: 5px;
    font-size: 11px;
    font-weight: normal;
}
.project.four, #grid-folio .project {
    margin-bottom: 35px;
}
h4.box-name {
    margin-top: 0;
    padding-top: 0;
    font-size: 16px;
}


.project .box-name, #grid-folio .project .box-name {
    margin-top: 10px;
}
.project.four .project-title, .project.four .project-info, #grid-folio .project .project-info, #grid-folio .project .project-title{
    text-align: center;
}
.project-social > div {
    float: left;
    width: 80px;
}

#work-slider img {
    border-radius: 3px;
    behavior:url(border-radius.htc);
}

/* -----------------------------------------
   Additional plugins styling
----------------------------------------- */

.widget_crum-text-widget {
    line-height: 1.6;
}

.entry-content-asset{
    position: relative !important;
    padding-bottom: 56.25% !important;
    padding-top: 30px !important;
    height: 0 !important;
    overflow: hidden !important;
}
.video-js {
    max-width: 100%;
}

.entry-content-asset iframe,
.entry-content-asset object,
.entry-content-asset embed {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.req-clearing-container {
    padding: 5px;
}

div.alert-box {
    border-color: #f1f1f1;
    background: #fff;
    border-left: 3px solid #f1f1f1;
    border-radius: 3px;
    behavior:url(border-radius.htc);
    font-size: inherit;
    text-shadow: none;
    font-weight: normal;
    color: inherit;
    padding: 13px;
}

div.alert-box.alert {
    background-color: inherit;
    text-shadow: none;
    border-left: 3px solid #f37a6b;
    color: inherit;
}
div.alert-box.success {
    background-color: inherit;
    text-shadow: none;
    border-left: 3px solid #4e9a21;
    color: inherit;
}


#map-widget img,#map img {
    max-width: none;
}
.panel-sh{
    background: #fafafa;
    border: 1px solid #f1f1f1;
    position: relative;
    margin: 0 0 22px 0;
    padding: 20px;
}
.panel-sh p {
    margin: 0;
}

#grid-posts, #grid-folio {
    width: 103.125%; /* 990px */
    overflow: hidden;
    margin-left: -1.562%; /* 15px */
    margin-bottom: -1.875em; /* 30px */
    position: relative;
}

#grid-posts article.small-news, #grid-folio .project {
    width: 33%; /* 300px */
    float: left;
    border-bottom: 1px dotted #e8e8e8;
    padding-bottom:10px;
    margin-bottom: 30px;
}
#grid-folio .project {
    border-bottom: 0;
}

#grid-folio.col-4 .project {
    width: 25%;
}

#grid-posts .orbit img.fluid-placeholder, #grid-posts.col-2.and-side .orbit img.fluid-placeholder{
    max-height: 250px;
}
#grid-posts.col-2.and-side article.small-news {
    width: 47%;

}
#grid-posts.col-2 article.small-news {
    width: 48.2%;
    margin-left: 20px;
    border-bottom: 1px dotted #e8e8e8;
    padding-bottom:10px;
    margin-bottom: 30px;
}
#grid-posts.col-2 .orbit img.fluid-placeholder {
    max-height: 280px;
}


.fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] { width: 100% !important; }

@media screen and (min-width: 1220px){
    aside .fb-like-box, aside .fb-like-box span, aside .fb-like-box span iframe[style] { width: auto !important; }
}

/*
* Visual Composer styles
*/


.wpb_heading, .entry-content .wpb_heading, .wpb_content_element h2 {
    margin: 0 0 30px 0 !important;
    font-size: 19px;
    font-weight: 600;
}

.wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button {
    margin-bottom: 0 !important;
}
.mega-text .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button {
    margin-bottom: 15px;
    margin-top: 20px;
}

.wpb_video_widget .wpb_wrapper .wpb_video_wrapper {
    padding-top: 0 !important;
    position: relative;
}
.wpb_column.column_container {
    margin-bottom: 25px;
}

.wpb_toggle, #content h4.wpb_toggle {
    background: url(../img/toggle_close.png) no-repeat left 0 !important;
    padding-left: 30px !important;
}
.wpb_toggle_title_active, #content h4.wpb_toggle_title_active {
    background: url(../img/toggle_open.png) no-repeat left 0 !important;
}
.wpb_toggle_content {
    padding-left: 30px !important;
}

.wpb_content_element .ui-tabs .ui-tabs-nav a, #content .wpb_accordion .ui-accordion .ui-accordion-header a, .wpb_accordion .ui-accordion .ui-accordion-header a {
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    padding: 1em 1.5em !important;
}

.wpb_tabs .ui-tabs .ui-tabs-panel, .wpb_accordion .ui-accordion .ui-accordion-content {
    padding: 1.2em 2em !important;
    font-size: 11px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active, .wpb_accordion .ui-accordion .ui-accordion-header-active {
    border-radius: 3px;
    behavior:url(border-radius.htc);
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    display: none;
}
#content .wpb_accordion .ui-accordion .ui-accordion-header, .wpb_accordion .ui-accordion .ui-accordion-header,
.wpb_content_element div.ui-tabs .ui-tabs-nav li{
    border-radius: 3px;
    behavior:url(border-radius.htc);
}


.list_widget .extra-links{
    background: none;
}

.folio-item a img {
    display:block;
    position:relative;
}

#primary-navigation-contacts>ul{
    right: 0;
    left: auto;
}
body.admin-bar {
    margin-top:28px;
}
.orbit {
    margin-bottom: 0;
}
.more-button {
    margin: 20px 0 0 0;
    text-align: center;
}
.more-button .button {
    padding: 6px 20px;
}

.post-social {
    float: left;
    margin-top: 15px;
}
.post-social>div {
    margin: 15px 20px 0 0;
    height: 20px;
    float: left;
}
.post-social .google-plus {
    width: 60px !important;
}

.carousel ul.block-grid {
    float: left;
    padding: 20px 0;
}

.page-template-tmp-portfolio-template-4-r-php .filter {
    margin-bottom: 20px;
}
#grid-folio .project {
    margin-bottom: 20px;
}

.menu-item-wrap:before {
    float: left;
    font-size: 34px;
    margin-right: 15px;
    line-height: 1.3;
    text-align: center;
    display: inline-block;
}


.fixed-navi .menu-item-wrap:before {display:none;}



.widget_crum_recent_posts .entry-title {
    margin: 0 0 3px !important;
    font-size:15px !important;
}

#footer #rss_mail_subscribe-3 {
    margin-bottom: 0;
}

.backtotop {
    position: fixed;
    right: 20px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    display: block;
    z-index: 99999999;
    border-radius: 100em;
    behavior:url(border-radius.htc);
}

.backtotop:before {
    content: '\e75f';
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 40px;
    font-size: 23px;
    line-height: 36px;
    left: 0;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    position: absolute;
}

.backtotop.hidden {
    bottom: -100px
}




/* --------------------------------------------------
   Tmp styles
----------------------------------------------------*/


.lt-ie9 .whitehover {
    background: none !important;
}
.lt-ie9 .folio-item .description {
    display: none;
}
.lt-ie9 .folio-item:hover .description {
    display: block;
}
.lt-ie9 .button {
    min-height: 0;
}
.lt-ie9 .page-block-title {
    padding-top: 7px;
    padding-bottom: 0;
}
.lt-ie9 input {
    line-height: 2;
}
.lt-ie9 .follow-widget .number {
    font-size: 14px;
}
.lt-ie9 .prod-image-wrap img{
    max-width:300px;
}
.lt-ie9 .commentform-inner input {
    width: 30%;
}

.page-id-913 div.orbit>img {
    min-width: 100%;
}

.page-id-2074 .service-icon span {
    background-color: #26bdef;
    border-color: #26bdef;
    color: #fff;
}

.page-id-62 #panel-0-0-1 {
    position: relative;
    top: -30px;
    margin-bottom: 20px;
}

#primary-navigation-866 #pgc-0-0 {
    width: 30%;
    float: left;
}
#primary-navigation-866 #pgc-0-1 {
    width: 65%;
    float: left;
}
#primary-navigation-866 #pg-0 {
    margin: 0;
}
#primary-navigation-866 > ul {
    right: 0;
    left:auto;
}
#drop-top-menu .mega-text {
    display: none;
}

#main-content>h3 {
    margin: 30px 0  25px 0;
}

#main-content>h4 {
    margin: 25px 0 20px;
}

.ls-wp-fullwidth-container {
    line-height: 1.6;
}

#header .menu .current-menu-item > span  .link-text,
#header .menu .current-menu-item > span  .link-desc,
#header .menu .current-menu-item > span:before
 {
    color: #494949;
}

/* -----------------------------------------
   Additional
----------------------------------------- */

a:hover{
    text-decoration: none;
}

#header-login-form{
    position: relative;
    float: right;
    top: 20px;
    color: #fff;
}

#header-login-form input{ font-size: 13px; }

#header-login-form #logout:before{
    width: 20px;
    height: 20px;
    content: '';
    background: url('../img/glyphicons-halflings-white.png') 87px 0;
    position: absolute;
    top: 3px;
    left: -20px;
}
#header-login-form #logout{
    position: relative;
    top: 10px;
    right: 40px;
    color: #fff;
}
#header-login-form input[type=text],
#header-login-form input[type=password]
{
    width: 150px;
    height: 25px;
    margin-right: 10px;
}
/*#header-login-form input[type=submit]{
    position: relative;
    bottom: 2px;
}*/

#header .row{
    margin-bottom: 10px;
}

#menu-top .menu-item-wrap:hover .link-text,
#menu-top .menu-item-wrap:hover .link-desc,
.menu-item-wrap:hover:before,
.menu-item-wrap:hover a{
    color: #0a0a0a;
    text-decoration: none;
}

#menu-top .current-menu-item:hover .link-text,
#menu-top .current-menu-item:hover .link-desc,
.current-menu-item .menu-item-wrap:hover:before,
.current-menu-item .menu-item-wrap:hover a{
    color: #494949;
    text-decoration: none;
}

#drop-top-menu .current-menu-item > span .link-text{
    color: #fff !important;
    font-weight: bold;
    font-size: 16px;
}

.contact-desc-left{ width: 200px; }
.contact-desc-right{
    width: 200px;
    position: relative;
    float: right;
    right: 550px;
}
.contact-social{
    margin: 20px 0 0 25px;
    position: relative;
}
.contact-social a{ color: #828a93; }
.contact-social:before{
    width: 25px;
    height: 25px;
    content: '';
    position: absolute;
    top: -7px;
    left: -30px;
}
.contact-mail:before{ background: url('../img/email.png') 0 0; }
.contact-fb:before{ background: url('../img/facebook.png') 0 0; }
.contact-twitter:before{ background: url('../img/twitter_bird.png') 0 0; }
.contact-phone:before{ background: url('../img/iphone.png') 0 0; }

#map-canvas {
    width: 450px;
    height: 200px;
    float: right;
    margin-right: 300px;
}

#slideshow {
    width: 700px;
    height: 500px;
    position: relative;
    top: 20px;
    left: 20px;
    overflow: hidden;
}
#slideshow img {
    width: 100%;
    position: relative;
    display: none;
}

#stage_jbeeb_3,
#stage_jbeeb_5
{
    margin-left: 65px !important;
}

#sponsor {
position: relative;
float: left;
left: 20px;
}

#media {
position: relative;
float: right;
right: 75px;
}

#sponsor-carousel, #media-carousel {
margin-bottom: 20px;
position: relative;
left: 40px;
display: none;
}

#sponsor-carousel .sponsor-carousel-inner {
width: 175px;
height: 150px;
padding: 5px;
position: relative;
float: left;
}

#media-carousel .media-carousel-inner {
width: 200px;
height: 90px;
padding: 5px;
position: relative;
float: left;
}

#sponsor-carousel img, #media-carousel img{
width: 100%;
height: 100%;
}

#news-wrapper {
    margin-bottom: 50px;
}

.news:not(:first-child) {
    margin-top: 50px;
}

.news{
    margin-left: 35px;
    color: #000;
}
.news header{
    width: 100%;
    min-width: 1100px;
}
.hot-news .news-header,
.news .news-header
{
    height: 40px;
    margin-left: 10px;
    position: relative;
    float: right;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}

.hot-news .news-header{ width: 410px; }

.news .news-header{
    width: 96.5%;
    min-width: 1060px;
}

.hot-news .news-time .day,
.news .news-time .day
{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}
.hot-news .news-time .month,
.news .news-time .month
{
    margin: 0;
    font-size: 10px;
    text-align: right;
}
.hot-news .news-content { margin-left: 40px; }
.news .news-content{
    width: 90%;
    min-width: 1100px;
    margin-left: 40px;
}
.news-separator{
    width: 93%;
    margin: 0 auto;
	position: relative;
	top: 20px;
}

.reg-btn-wrapper{
    width: 41.6667%;
    margin: 0 auto;
}
.reg-success, .letter-success{
    width: 1100px;
    position: relative;
    left: 75px;
    display: inline-block;
}
.reg-success { bottom: 25px; }

.desc-content{
    width: 1100px;
    margin: 0 0 50px 75px!important;
}
.desc-header{ margin: 40px 0 20px !important; }
.desc-list { margin: 10px 0; }
.desc-list span { padding: 0; }

.admin-table{
    width: 1050px;
    margin-left: 75px;
}

.form-error-message{
    width: 1100px;
    margin-bottom: 0;
    position: relative;
    bottom: 25px;
    left: 75px;
    display: none;
}

.quota-alert{
    margin-bottom: -20px;
    position: relative;
    top: -50px;
    left: 75px;
}

.contestant-announcement{
    margin-left: 90px;
}

.contestant-announcement h4{
    position: relative;
    top: -20px;
    left: -15px;
}

.contestant-announcement li{ margin-bottom: 20px; }

.choose-topic-list a[title=Hapus]{
	margin-right: 20px;
	position: relative;
	float: right;
	opacity:0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}

.choose-topic-list tr:hover a[title=Hapus]{
	opacity:1;
	filter:alpha(opacity=1); /* For IE8 and earlier */
}
