/*!
 FONT AUTHOR:
 -------------------------------------------------------

 * 	Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/

 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 
 FONT AUTHOR:
 -------------------------------------------------------

*	Zocial Butons
*	http://zocial.smcllns.com
*	by Sam Collins (@smcllns)
*	License: http://opensource.org/licenses/mit-license.php

 FONT AUTHOR:
 -------------------------------------------------------

*	105 Loops
*	http://dribbble.com/shots/707117-105-Loops-with-PSD
*	by Pranav
*	License: Custom

 FONT AUTHOR:
 -------------------------------------------------------

*	IcoMoon
*	http://icomoon.io/
*	by Keyamoon
*	License: CC License (CC BY 3.0)

*/
 
@font-face{
	font-family:'FontAwesome';
	src:url('../inc/font/fontawesome-webfont.eot?v=3.0.1');
	src:url('../inc/font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
	url('../inc/font/fontawesome-webfont.svg#fontawesomeregular') format('svg'),
	url('../inc/font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
	url('../inc/font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
	font-weight:normal;
	font-style:normal; 
}

@font-face{
	font-family:'zocial';
	src:url('../inc/font/zocial-regular-webfont.eot?v=3.0.1');
	src:url('../inc/font/zocial-regular-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
	url('../inc/font/zocial-regular-webfont.ttf?v=3.0.1') format('truetype'),
	url('../inc/font/zocial-regular-webfont.woff?v=3.0.1') format('woff'),
	url('../inc/font/zocial-regular-webfont.svg#zocialregular') format('svg');
	font-weight:normal;
	font-style:normal; 
}

@font-face {
	font-family: 'loop-icons';
	src:url('../inc/font/loop-icons.eot');
	src:url('../inc/font/loop-icons.eot?#iefix') format('embedded-opentype'),
	url('../inc/font/loop-icons.svg#loop-icons') format('svg'),
	url('../inc/font/loop-icons.ttf') format('truetype'),
	url('../inc/font/loop-icons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'moon';
	src:url('../inc/font/moon.eot');
	src:url('../inc/font/moon.eot?#iefix') format('embedded-opentype'),
		url('../inc/font/moon.svg#moon') format('svg'),
		url('../inc/font/moon.ttf') format('truetype'),
		url('../inc/font/moon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src:url('../inc/font/fontello.eot?37809141');
    src:url('../inc/font/fontello.eot?37809141#iefix') format('embedded-opentype'),
        url('../inc/font/fontello.ttf?37809141') format('truetype'),
        url('../inc/font/fontello.svg?37809141#fontello') format('svg'),
        url('../inc/font/fontello.woff?37809141') format('woff');
    font-weight:normal;
    font-style:normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../inc/font/fontello.svg?37809141#fontello') format('svg');
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'zocial';
		src: url('../inc/font/zocial-regular-webfont.svg#zocialregular') format('svg');

    }
}

a:hover, a:active, a:focus {
	outline: 0 !important;
}

a [class^="awesome-"], a [class*=" awesome-"], a [class^="zocial-"], a [class*=" zocial-"], a [class^="loop-"], a [class*=" loop-"], a [class^="moon-"], a [class*=" moon-"] {
	cursor:pointer;
	outline: 0 !important;
}

[class^="loop-"], [class*=" loop-"], [class^="moon-"], [class*=" moon-"] {
	cursor:default;
}

ul.icons {
	list-style-type: none !important;
	text-indent: -0.75em;
} 

/*---------------------------------------------------------------*/
/* Font Awesome
/*---------------------------------------------------------------*/


[class^="awesome-"]:before,
[class*=" awesome-"]:before {
	display: inline-block;
	speak: none;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
/* makes sure icons active on rollover in links */
a [class^="awesome-"],
a [class*=" awesome-"] {
	display: inline-block;
}
li [class^="awesome-"],
li [class*=" awesome-"] {
	display: inline-block;
	width: 1.25em;
	text-align: center;
}

/*---------------------------------------------------------------*/
/* Zocial
/*---------------------------------------------------------------*/

[class^="zocial-"],
[class*=" zocial-"] {
	font-family: zocial;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
	cursor:default;
}
[class^="zocial-"]:before,
[class*=" zocial-"]:before {
	text-decoration: none;
	display: inline-block;
	speak: none;
}

/*---------------------------------------------------------------*/
/* Loop
/*---------------------------------------------------------------*/

[class^="loop-"]:before,
[class*=" loop-"]:before {
	font-family: 'loop-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}


/*---------------------------------------------------------------*/
/* Fontello pack
/*---------------------------------------------------------------*/

[class^="linecon-"]:before, [class*=" linecon-"]:before,[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    margin-left: .2em;
}


/*---------------------------------------------------------------*/
/* Moon
/*---------------------------------------------------------------*/

[class^="moon-"]:before,
[class*=" moon-"]:before {
	font-family: 'moon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

/*Fontello*/

.icon-plus-1:before { content: '\e800'; } /* '?' */
.icon-pinterest:before { content: '\e802'; } /* '?' */
.icon-rss:before { content: '\e804'; } /* '?' */
.icon-dropbox:before { content: '\e803'; } /* '?' */
.icon-heart:before { content: '\e000'; } /* '?' */
.icon-cloud:before { content: '\e001'; } /* '?' */
.icon-star:before { content: '\e002'; } /* '?' */
.icon-tv:before { content: '\e003'; } /* '?' */
.icon-sound:before { content: '\e004'; } /* '?' */
.icon-videocam:before { content: '\e005'; } /* '?' */
.icon-trash:before { content: '\e006'; } /* '?' */
.icon-user:before { content: '\e007'; } /* '?' */
.icon-key:before { content: '\e008'; } /* '?' */
.icon-search:before { content: '\e009'; } /* '?' */
.icon-cog:before { content: '\e00a'; } /* '?' */
.icon-camera:before { content: '\e00b'; } /* '?' */
.icon-tag:before { content: '\e00c'; } /* '?' */
.icon-lock:before { content: '\e00d'; } /* '?' */
.icon-lightbulb:before { content: '\e00e'; } /* '?' */
.icon-pencil:before { content: '\e00f'; } /* '?' */
.icon-diamond:before { content: '\e010'; } /* '?' */
.icon-desktop:before { content: '\e011'; } /* '?' */
.icon-location:before { content: '\e012'; } /* '?' */
.icon-eye:before { content: '\e013'; } /* '?' */
.icon-comment:before { content: '\e014'; } /* '?' */
.icon-inbox:before { content: '\e015'; } /* '?' */
.icon-cup:before { content: '\e016'; } /* '?' */
.icon-mobile:before { content: '\e017'; } /* '?' */
.icon-doc:before { content: '\e018'; } /* '?' */
.icon-mail:before { content: '\e019'; } /* '?' */
.icon-thumbs-up:before { content: '\e01a'; } /* '?' */
.icon-photo:before { content: '\e01b'; } /* '?' */
.icon-note:before { content: '\e01c'; } /* '?' */
.icon-clock:before { content: '\e01d'; } /* '?' */
.icon-paper-plane:before { content: '\e01e'; } /* '?' */
.icon-params:before { content: '\e01f'; } /* '?' */
.icon-money:before { content: '\e020'; } /* '?' */
.icon-database:before { content: '\e021'; } /* '?' */
.icon-music:before { content: '\e022'; } /* '?' */
.icon-megaphone:before { content: '\e023'; } /* '?' */
.icon-graduation-cap:before { content: '\e024'; } /* '?' */
.icon-beaker:before { content: '\e025'; } /* '?' */
.icon-food:before { content: '\e026'; } /* '?' */
.icon-t-shirt:before { content: '\e027'; } /* '?' */
.icon-fire:before { content: '\e028'; } /* '?' */
.icon-attach:before { content: '\e029'; } /* '?' */
.icon-shop:before { content: '\e02a'; } /* '?' */
.icon-calendar:before { content: '\e02b'; } /* '?' */
.icon-wallet:before { content: '\e02c'; } /* '?' */
.icon-cd:before { content: '\e02d'; } /* '?' */
.icon-truck:before { content: '\e02e'; } /* '?' */
.icon-globe:before { content: '\e02f'; } /* '?' */
.icon-down-open:before { content: '\e75c'; } /* '?' */
.icon-up-open:before { content: '\e75f'; } /* '?' */
.icon-facebook-rect:before { content: '\f301'; } /* '?' */
.icon-twitter-bird:before { content: '\f303'; } /* '?' */
.icon-googleplus-rect:before { content: '\f309'; } /* '?' */
.icon-vkontakte-rect:before { content: '\f30a'; } /* '?' */
.icon-skype:before { content: '\f30b'; } /* '?' */
.icon-vimeo:before { content: '\f30f'; } /* '?' */
.icon-tumblr:before { content: '\f311'; } /* '?' */
.icon-youtube:before { content: '\e801'; } /* '?' */
.icon-deviantart:before { content: '\f316'; } /* '?' */
.icon-lastfm:before { content: '\f318'; } /* '?' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '?' */
.icon-picasa:before { content: '\f31c'; } /* '?' */
.icon-wordpress:before { content: '\f31d'; } /* '?' */
.icon-instagram:before { content: '\f31e'; } /* '?' */

/*Fontello*/

.linecon-plus-1:before { content: '\e800'; } /* '?' */
.linecon-pinterest:before { content: '\e802'; } /* '?' */
.linecon-rss:before { content: '\e804'; } /* '?' */
.linecon-dropbox:before { content: '\e803'; } /* '?' */
.linecon-heart:before { content: '\e000'; } /* '?' */
.linecon-cloud:before { content: '\e001'; } /* '?' */
.linecon-star:before { content: '\e002'; } /* '?' */
.linecon-tv:before { content: '\e003'; } /* '?' */
.linecon-sound:before { content: '\e004'; } /* '?' */
.linecon-videocam:before { content: '\e005'; } /* '?' */
.linecon-trash:before { content: '\e006'; } /* '?' */
.linecon-user:before { content: '\e007'; } /* '?' */
.linecon-key:before { content: '\e008'; } /* '?' */
.linecon-search:before { content: '\e009'; } /* '?' */
.linecon-cog:before { content: '\e00a'; } /* '?' */
.linecon-camera:before { content: '\e00b'; } /* '?' */
.linecon-tag:before { content: '\e00c'; } /* '?' */
.linecon-lock:before { content: '\e00d'; } /* '?' */
.linecon-lightbulb:before { content: '\e00e'; } /* '?' */
.linecon-pencil:before { content: '\e00f'; } /* '?' */
.linecon-diamond:before { content: '\e010'; } /* '?' */
.linecon-desktop:before { content: '\e011'; } /* '?' */
.linecon-location:before { content: '\e012'; } /* '?' */
.linecon-eye:before { content: '\e013'; } /* '?' */
.linecon-comment:before { content: '\e014'; } /* '?' */
.linecon-inbox:before { content: '\e015'; } /* '?' */
.linecon-cup:before { content: '\e016'; } /* '?' */
.linecon-mobile:before { content: '\e017'; } /* '?' */
.linecon-doc:before { content: '\e018'; } /* '?' */
.linecon-mail:before { content: '\e019'; } /* '?' */
.linecon-thumbs-up:before { content: '\e01a'; } /* '?' */
.linecon-photo:before { content: '\e01b'; } /* '?' */
.linecon-note:before { content: '\e01c'; } /* '?' */
.linecon-clock:before { content: '\e01d'; } /* '?' */
.linecon-paper-plane:before { content: '\e01e'; } /* '?' */
.linecon-params:before { content: '\e01f'; } /* '?' */
.linecon-money:before { content: '\e020'; } /* '?' */
.linecon-database:before { content: '\e021'; } /* '?' */
.linecon-music:before { content: '\e022'; } /* '?' */
.linecon-megaphone:before { content: '\e023'; } /* '?' */
.linecon-graduation-cap:before { content: '\e024'; } /* '?' */
.linecon-beaker:before { content: '\e025'; } /* '?' */
.linecon-food:before { content: '\e026'; } /* '?' */
.linecon-t-shirt:before { content: '\e027'; } /* '?' */
.linecon-fire:before { content: '\e028'; } /* '?' */
.linecon-attach:before { content: '\e029'; } /* '?' */
.linecon-shop:before { content: '\e02a'; } /* '?' */
.linecon-calendar:before { content: '\e02b'; } /* '?' */
.linecon-wallet:before { content: '\e02c'; } /* '?' */
.linecon-cd:before { content: '\e02d'; } /* '?' */
.linecon-truck:before { content: '\e02e'; } /* '?' */
.linecon-globe:before { content: '\e02f'; } /* '?' */
.linecon-down-open:before { content: '\e75c'; } /* '?' */
.linecon-up-open:before { content: '\e75f'; } /* '?' */
.linecon-facebook-rect:before { content: '\f301'; } /* '?' */
.linecon-twitter-bird:before { content: '\f303'; } /* '?' */
.linecon-googleplus-rect:before { content: '\f309'; } /* '?' */
.linecon-vkontakte-rect:before { content: '\f30a'; } /* '?' */
.linecon-skype:before { content: '\f30b'; } /* '?' */
.linecon-vimeo:before { content: '\f30f'; } /* '?' */
.linecon-tumblr:before { content: '\f311'; } /* '?' */
.linecon-youtube:before { content: '\e801'; } /* '?' */
.linecon-deviantart:before { content: '\f316'; } /* '?' */
.linecon-lastfm:before { content: '\f318'; } /* '?' */
.linecon-linkedin-rect:before { content: '\f31b'; } /* '?' */
.linecon-picasa:before { content: '\f31c'; } /* '?' */
.linecon-wordpress:before { content: '\f31d'; } /* '?' */
.linecon-instagram:before { content: '\f31e'; } /* '' */


/*  Font Awesome */
.awesome-glass:before                { content: "\f000"; }
.awesome-music:before                { content: "\f001"; }
.awesome-search:before               { content: "\f002"; }
.awesome-envelope:before             { content: "\f003"; }
.awesome-heart:before                { content: "\f004"; }
.awesome-star:before                 { content: "\f005"; }
.awesome-star-empty:before           { content: "\f006"; }
.awesome-user:before                 { content: "\f007"; }
.awesome-film:before                 { content: "\f008"; }
.awesome-th-large:before             { content: "\f009"; }
.awesome-th:before                   { content: "\f00a"; }
.awesome-th-list:before              { content: "\f00b"; }
.awesome-ok:before                   { content: "\f00c"; }
.awesome-remove:before               { content: "\f00d"; }
.awesome-zoom-in:before              { content: "\f00e"; }

.awesome-zoom-out:before             { content: "\f010"; }
.awesome-off:before                  { content: "\f011"; }
.awesome-signal:before               { content: "\f012"; }
.awesome-cog:before                  { content: "\f013"; }
.awesome-trash:before                { content: "\f014"; }
.awesome-home:before                 { content: "\f015"; }
.awesome-file:before                 { content: "\f016"; }
.awesome-time:before                 { content: "\f017"; }
.awesome-road:before                 { content: "\f018"; }
.awesome-download-alt:before         { content: "\f019"; }
.awesome-download:before             { content: "\f01a"; }
.awesome-upload:before               { content: "\f01b"; }
.awesome-inbox:before                { content: "\f01c"; }
.awesome-play-circle:before          { content: "\f01d"; }
.awesome-repeat:before               { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.awesome-refresh:before              { content: "\f021"; }
.awesome-list-alt:before             { content: "\f022"; }
.awesome-lock:before                 { content: "\f023"; }
.awesome-flag:before                 { content: "\f024"; }
.awesome-headphones:before           { content: "\f025"; }
.awesome-volume-off:before           { content: "\f026"; }
.awesome-volume-down:before          { content: "\f027"; }
.awesome-volume-up:before            { content: "\f028"; }
.awesome-qrcode:before               { content: "\f029"; }
.awesome-barcode:before              { content: "\f02a"; }
.awesome-tag:before                  { content: "\f02b"; }
.awesome-tags:before                 { content: "\f02c"; }
.awesome-book:before                 { content: "\f02d"; }
.awesome-bookmark:before             { content: "\f02e"; }
.awesome-print:before                { content: "\f02f"; }

.awesome-camera:before               { content: "\f030"; }
.awesome-font:before                 { content: "\f031"; }
.awesome-bold:before                 { content: "\f032"; }
.awesome-italic:before               { content: "\f033"; }
.awesome-text-height:before          { content: "\f034"; }
.awesome-text-width:before           { content: "\f035"; }
.awesome-align-left:before           { content: "\f036"; }
.awesome-align-center:before         { content: "\f037"; }
.awesome-align-right:before          { content: "\f038"; }
.awesome-align-justify:before        { content: "\f039"; }
.awesome-list:before                 { content: "\f03a"; }
.awesome-indent-left:before          { content: "\f03b"; }
.awesome-indent-right:before         { content: "\f03c"; }
.awesome-facetime-video:before       { content: "\f03d"; }
.awesome-picture:before              { content: "\f03e"; }

.awesome-pencil:before               { content: "\f040"; }
.awesome-map-marker:before           { content: "\f041"; }
.awesome-adjust:before               { content: "\f042"; }
.awesome-tint:before                 { content: "\f043"; }
.awesome-edit:before                 { content: "\f044"; }
.awesome-share:before                { content: "\f045"; }
.awesome-check:before                { content: "\f046"; }
.awesome-move:before                 { content: "\f047"; }
.awesome-step-backward:before        { content: "\f048"; }
.awesome-fast-backward:before        { content: "\f049"; }
.awesome-backward:before             { content: "\f04a"; }
.awesome-play:before                 { content: "\f04b"; }
.awesome-pause:before                { content: "\f04c"; }
.awesome-stop:before                 { content: "\f04d"; }
.awesome-forward:before              { content: "\f04e"; }

.awesome-fast-forward:before         { content: "\f050"; }
.awesome-step-forward:before         { content: "\f051"; }
.awesome-eject:before                { content: "\f052"; }
.awesome-chevron-left:before         { content: "\f053"; }
.awesome-chevron-right:before        { content: "\f054"; }
.awesome-plus-sign:before            { content: "\f055"; }
.awesome-minus-sign:before           { content: "\f056"; }
.awesome-remove-sign:before          { content: "\f057"; }
.awesome-ok-sign:before              { content: "\f058"; }
.awesome-question-sign:before        { content: "\f059"; }
.awesome-info-sign:before            { content: "\f05a"; }
.awesome-screenshot:before           { content: "\f05b"; }
.awesome-remove-circle:before        { content: "\f05c"; }
.awesome-ok-circle:before            { content: "\f05d"; }
.awesome-ban-circle:before           { content: "\f05e"; }

.awesome-arrow-left:before           { content: "\f060"; }
.awesome-arrow-right:before          { content: "\f061"; }
.awesome-arrow-up:before             { content: "\f062"; }
.awesome-arrow-down:before           { content: "\f063"; }
.awesome-share-alt:before            { content: "\f064"; }
.awesome-resize-full:before          { content: "\f065"; }
.awesome-resize-small:before         { content: "\f066"; }
.awesome-plus:before                 { content: "\f067"; }
.awesome-minus:before                { content: "\f068"; }
.awesome-asterisk:before             { content: "\f069"; }
.awesome-exclamation-sign:before     { content: "\f06a"; }
.awesome-gift:before                 { content: "\f06b"; }
.awesome-leaf:before                 { content: "\f06c"; }
.awesome-fire:before                 { content: "\f06d"; }
.awesome-eye-open:before             { content: "\f06e"; }

.awesome-eye-close:before            { content: "\f070"; }
.awesome-warning-sign:before         { content: "\f071"; }
.awesome-plane:before                { content: "\f072"; }
.awesome-calendar:before             { content: "\f073"; }
.awesome-random:before               { content: "\f074"; }
.awesome-comment:before              { content: "\f075"; }
.awesome-magnet:before               { content: "\f076"; }
.awesome-chevron-up:before           { content: "\f077"; }
.awesome-chevron-down:before         { content: "\f078"; }
.awesome-retweet:before              { content: "\f079"; }
.awesome-shopping-cart:before        { content: "\f07a"; }
.awesome-folder-close:before         { content: "\f07b"; }
.awesome-folder-open:before          { content: "\f07c"; }
.awesome-resize-vertical:before      { content: "\f07d"; }
.awesome-resize-horizontal:before    { content: "\f07e"; }

.awesome-bar-chart:before            { content: "\f080"; }
.awesome-twitter-sign:before         { content: "\f081"; }
.awesome-facebook-sign:before        { content: "\f082"; }
.awesome-camera-retro:before         { content: "\f083"; }
.awesome-key:before                  { content: "\f084"; }
.awesome-cogs:before                 { content: "\f085"; }
.awesome-comments:before             { content: "\f086"; }
.awesome-thumbs-up:before            { content: "\f087"; }
.awesome-thumbs-down:before          { content: "\f088"; }
.awesome-star-half:before            { content: "\f089"; }
.awesome-heart-empty:before          { content: "\f08a"; }
.awesome-signout:before              { content: "\f08b"; }
.awesome-linkedin-sign:before        { content: "\f08c"; }
.awesome-pushpin:before              { content: "\f08d"; }
.awesome-external-link:before        { content: "\f08e"; }

.awesome-signin:before               { content: "\f090"; }
.awesome-trophy:before               { content: "\f091"; }
.awesome-github-sign:before          { content: "\f092"; }
.awesome-upload-alt:before           { content: "\f093"; }
.awesome-lemon:before                { content: "\f094"; }
.awesome-phone:before                { content: "\f095"; }
.awesome-check-empty:before          { content: "\f096"; }
.awesome-bookmark-empty:before       { content: "\f097"; }
.awesome-phone-sign:before           { content: "\f098"; }
.awesome-twitter:before              { content: "\f099"; }
.awesome-facebook:before             { content: "\f09a"; }
.awesome-github:before               { content: "\f09b"; }
.awesome-unlock:before               { content: "\f09c"; }
.awesome-credit-card:before          { content: "\f09d"; }
.awesome-rss:before                  { content: "\f09e"; }

.awesome-hdd:before                  { content: "\f0a0"; }
.awesome-bullhorn:before             { content: "\f0a1"; }
.awesome-bell:before                 { content: "\f0a2"; }
.awesome-certificate:before          { content: "\f0a3"; }
.awesome-hand-right:before           { content: "\f0a4"; }
.awesome-hand-left:before            { content: "\f0a5"; }
.awesome-hand-up:before              { content: "\f0a6"; }
.awesome-hand-down:before            { content: "\f0a7"; }
.awesome-circle-arrow-left:before    { content: "\f0a8"; }
.awesome-circle-arrow-right:before   { content: "\f0a9"; }
.awesome-circle-arrow-up:before      { content: "\f0aa"; }
.awesome-circle-arrow-down:before    { content: "\f0ab"; }
.awesome-globe:before                { content: "\f0ac"; }
.awesome-wrench:before               { content: "\f0ad"; }
.awesome-tasks:before                { content: "\f0ae"; }

.awesome-filter:before               { content: "\f0b0"; }
.awesome-briefcase:before            { content: "\f0b1"; }
.awesome-fullscreen:before           { content: "\f0b2"; }

.awesome-group:before                { content: "\f0c0"; }
.awesome-link:before                 { content: "\f0c1"; }
.awesome-cloud:before                { content: "\f0c2"; }
.awesome-beaker:before               { content: "\f0c3"; }
.awesome-cut:before                  { content: "\f0c4"; }
.awesome-copy:before                 { content: "\f0c5"; }
.awesome-paper-clip:before           { content: "\f0c6"; }
.awesome-save:before                 { content: "\f0c7"; }
.awesome-sign-blank:before           { content: "\f0c8"; }
.awesome-reorder:before              { content: "\f0c9"; }
.awesome-list-ul:before              { content: "\f0ca"; }
.awesome-list-ol:before              { content: "\f0cb"; }
.awesome-strikethrough:before        { content: "\f0cc"; }
.awesome-underline:before            { content: "\f0cd"; }
.awesome-table:before                { content: "\f0ce"; }

.awesome-magic:before                { content: "\f0d0"; }
.awesome-truck:before                { content: "\f0d1"; }
.awesome-pinterest:before            { content: "\f0d2"; }
.awesome-pinterest-sign:before       { content: "\f0d3"; }
.awesome-google-plus-sign:before     { content: "\f0d4"; }
.awesome-google-plus:before          { content: "\f0d5"; }
.awesome-money:before                { content: "\f0d6"; }
.awesome-caret-down:before           { content: "\f0d7"; }
.awesome-caret-up:before             { content: "\f0d8"; }
.awesome-caret-left:before           { content: "\f0d9"; }
.awesome-caret-right:before          { content: "\f0da"; }
.awesome-columns:before              { content: "\f0db"; }
.awesome-sort:before                 { content: "\f0dc"; }
.awesome-sort-down:before            { content: "\f0dd"; }
.awesome-sort-up:before              { content: "\f0de"; }

.awesome-envelope-alt:before         { content: "\f0e0"; }
.awesome-linkedin:before             { content: "\f0e1"; }
.awesome-undo:before                 { content: "\f0e2"; }
.awesome-legal:before                { content: "\f0e3"; }
.awesome-dashboard:before            { content: "\f0e4"; }
.awesome-comment-alt:before          { content: "\f0e5"; }
.awesome-comments-alt:before         { content: "\f0e6"; }
.awesome-bolt:before                 { content: "\f0e7"; }
.awesome-sitemap:before              { content: "\f0e8"; }
.awesome-umbrella:before             { content: "\f0e9"; }
.awesome-paste:before                { content: "\f0ea"; }
.awesome-lightbulb:before            { content: "\f0eb"; }
.awesome-exchange:before             { content: "\f0ec"; }
.awesome-cloud-download:before       { content: "\f0ed"; }
.awesome-cloud-upload:before         { content: "\f0ee"; }

.awesome-user-md:before              { content: "\f0f0"; }
.awesome-stethoscope:before          { content: "\f0f1"; }
.awesome-suitcase:before             { content: "\f0f2"; }
.awesome-bell-alt:before             { content: "\f0f3"; }
.awesome-coffee:before               { content: "\f0f4"; }
.awesome-food:before                 { content: "\f0f5"; }
.awesome-file-alt:before             { content: "\f0f6"; }
.awesome-building:before             { content: "\f0f7"; }
.awesome-hospital:before             { content: "\f0f8"; }
.awesome-ambulance:before            { content: "\f0f9"; }
.awesome-medkit:before               { content: "\f0fa"; }
.awesome-fighter-jet:before          { content: "\f0fb"; }
.awesome-beer:before                 { content: "\f0fc"; }
.awesome-h-sign:before               { content: "\f0fd"; }
.awesome-plus-sign-alt:before        { content: "\f0fe"; }

.awesome-double-angle-left:before    { content: "\f100"; }
.awesome-double-angle-right:before   { content: "\f101"; }
.awesome-double-angle-up:before      { content: "\f102"; }
.awesome-double-angle-down:before    { content: "\f103"; }
.awesome-angle-left:before           { content: "\f104"; }
.awesome-angle-right:before          { content: "\f105"; }
.awesome-angle-up:before             { content: "\f106"; }
.awesome-angle-down:before           { content: "\f107"; }
.awesome-desktop:before              { content: "\f108"; }
.awesome-laptop:before               { content: "\f109"; }
.awesome-tablet:before               { content: "\f10a"; }
.awesome-mobile-phone:before         { content: "\f10b"; }
.awesome-circle-blank:before         { content: "\f10c"; }
.awesome-quote-left:before           { content: "\f10d"; }
.awesome-quote-right:before          { content: "\f10e"; }

.awesome-spinner:before              { content: "\f110"; }
.awesome-circle:before               { content: "\f111"; }
.awesome-reply:before                { content: "\f112"; }
.awesome-github-alt:before           { content: "\f113"; }
.awesome-folder-close-alt:before     { content: "\f114"; }
.awesome-folder-open-alt:before      { content: "\f115"; }

/* Zocial Icons */
.zocial-acrobat:before {content: "\00E3";}
.zocial-amazon:before {content: "a";}
.zocial-android:before {content: "&";}
.zocial-angellist:before {content: "\00D6";}
.zocial-aol:before {content: "\"";}
.zocial-appnet:before {content: "\00E1";}
.zocial-appstore:before {content: "A";}
.zocial-bitbucket:before {content: "\00E9";}
.zocial-bitcoin:before {content: "2";}
.zocial-blogger:before {content: "B";}
.zocial-buffer:before {content: "\00E5";}
.zocial-call:before {content: "7";}
.zocial-cal:before {content: ".";}
.zocial-cart:before {content: "\00C9";}
.zocial-chrome:before {content: "[";}
.zocial-cloudapp:before {content: "c";}
.zocial-creativecommons:before {content: "C";}
.zocial-delicious:before {content: "#";}
.zocial-digg:before {content: ";";}
.zocial-disqus:before {content: "Q";}
.zocial-dribbble:before {content: "D";}
.zocial-dropbox:before {content: "d";}
.zocial-drupal:before {content: "\00E4";}
.zocial-dwolla:before {content: "\00E0";}
.zocial-email:before {content: "]";}
.zocial-eventasaurus:before {content: "v";}
.zocial-eventbrite:before {content: "|";}
.zocial-eventful:before {content: "'";}
.zocial-evernote:before {content: "E";}
.zocial-facebook:before {content: "f";}
.zocial-fivehundredpx:before {content: "0";}
.zocial-flattr:before {content: "%";}
.zocial-flickr:before {content: "F";}
.zocial-forrst:before {content: ":";}
.zocial-foursquare:before {content: "4";}
.zocial-github:before {content: "\00E8";}
.zocial-gmail:before {content: "m";}
.zocial-google:before {content: "G";}
.zocial-googleplay:before {content: "h";}
.zocial-googleplus:before {content: "+";}
.zocial-gowalla:before {content: "@";}
.zocial-grooveshark:before {content: "8";}
.zocial-guest:before {content: "?";}
.zocial-html5:before {content: "5";}
.zocial-ie:before {content: "6";}
.zocial-instagram:before {content: "\00DC";}
.zocial-instapaper:before {content: "I";}
.zocial-intensedebate:before {content: "{";}
.zocial-itunes:before {content: "i";}
.zocial-klout:before {content: "K"; }
.zocial-lanyrd:before {content: "-";}
.zocial-lastfm:before {content: "l";}
.zocial-lego:before {content: "\00EA";}
.zocial-linkedin:before {content: "L";}
.zocial-lkdto:before {content: "\00EE";}
.zocial-logmein:before {content: "\00EB";}
.zocial-macstore:before {content: "^";}
.zocial-meetup:before {content: "M";}
.zocial-myspace:before {content: "_";}
.zocial-ninetyninedesigns:before {content: "9";}
.zocial-openid:before {content: "o";}
.zocial-opentable:before {content: "\00C7";}
.zocial-paypal:before {content: "$";}
.zocial-pinboard:before {content: "n";}
.zocial-pinterest:before {content: "1";}
.zocial-plancast:before {content: "P";}
.zocial-plurk:before {content: "j";}
.zocial-pocket:before {content: "\00E7";}
.zocial-podcast:before {content: "`";}
.zocial-posterous:before {content: "~";}
.zocial-print:before {content: "\00D1";}
.zocial-quora:before {content: "q";}
.zocial-reddit:before {content: ">";}
.zocial-rss:before {content: "R";}
.zocial-scribd:before {content: "}";}
.zocial-skype:before {content: "S";}
.zocial-smashing:before {content: "*";}
.zocial-songkick:before {content: "k";}
.zocial-soundcloud:before {content: "s";}
.zocial-spotify:before {content: "=";}
.zocial-stackoverflow:before {content: "\00EC";}
.zocial-statusnet:before {content: "\00E2";}
.zocial-steam:before {content: "b";}
.zocial-stripe:before {content: "\00A3";}
.zocial-stumbleupon:before {content: "/";}
.zocial-tumblr:before {content: "t";}
.zocial-twitter:before {content: "T";}
.zocial-viadeo:before {content: "H";}
.zocial-vimeo:before {content: "V";}
.zocial-vk:before {content: "N";}
.zocial-weibo:before {content: "J";}
.zocial-wikipedia:before {content: ",";}
.zocial-windows:before {content: "W";}
.zocial-wordpress:before {content: "w";}
.zocial-xing:before {content: "X"}
.zocial-yahoo:before {content: "Y";}
.zocial-ycombinator:before {content: "\00ED";}
.zocial-yelp:before {content: "y";}
.zocial-youtube:before {content: "U";}

/* Loop Icons  */
.loop-flag:before {content: "\e000";}
.loop-resize:before {content: "\e001";}
.loop-share:before {content: "\e002";}
.loop-heart:before {content: "\e003";}
.loop-comment:before {content: "\e004";}
.loop-menu:before {content: "\e005";}
.loop-grid:before {content: "\e006";}
.loop-folder:before {content: "\e007";}
.loop-eye:before {content: "\e008";}
.loop-clock:before {content: "\e009";}
.loop-link:before {content: "\e00a";}
.loop-sun:before {content: "\e00b";}
.loop-moon:before {content: "\e00c";}
.loop-play:before {content: "\e00d";}
.loop-pause:before {content: "\e00e";}
.loop-stop:before {content: "\e00f";}
.loop-record:before {content: "\e010";}
.loop-checkmark:before {content: "\e011";}
.loop-cancel:before {content: "\e012";}
.loop-move:before {content: "\e013";}
.loop-file:before {content: "\e014";}
.loop-switch:before {content: "\e015";}
.loop-screen:before {content: "\e016";}
.loop-music:before {content: "\e017";}
.loop-alert:before {content: "\e018";}
.loop-locked:before {content: "\e019";}
.loop-meter:before {content: "\e01a";}
.loop-bookmark:before {content: "\e01b";}
.loop-magnifier:before {content: "\e01c";}
.loop-film:before {content: "\e01d";}
.loop-inbox:before {content: "\e01e";}
.loop-pacman:before {content: "\e01f";}
.loop-target:before {content: "\e020";}
.loop-transform:before {content: "\e021";}
.loop-paperplane:before {content: "\e022";}
.loop-power:before {content: "\e023";}
.loop-cloud:before {content: "\e024";}
.loop-zip:before {content: "\e025";}
.loop-equalizer:before {content: "\e026";}
.loop-calculator:before {content: "\e027";}
.loop-microphone:before {content: "\e028";}
.loop-compass:before {content: "\e029";}
.loop-thermometer:before {content: "\e02a";}
.loop-pencil:before {content: "\e02b";}
.loop-grid-2:before {content: "\e02c";}
.loop-wallet:before {content: "\e02d";}
.loop-cube:before {content: "\e02e";}
.loop-cabinet:before {content: "\e02f";}
.loop-chat:before {content: "\e030";}
.loop-headset:before {content: "\e031";}
.loop-blocked:before {content: "\e032";}
.loop-expand:before {content: "\e033";}
.loop-dribbble:before {content: "\e034";}
.loop-facebook:before {content: "\e035";}
.loop-briefcase:before {content: "\e036";}
.loop-skype:before {content: "\e037";}
.loop-anchor:before {content: "\e038";}
.loop-movie:before {content: "\e039";}
.loop-analytics:before {content: "\e03a";}
.loop-home:before {content: "\e03b";}
.loop-transfer:before {content: "\e03c";}
.loop-camera:before {content: "\e03d";}
.loop-wrench:before {content: "\e03e";}
.loop-alarm:before {content: "\e03f";}
.loop-eject:before {content: "\e040";}
.loop-contrast:before {content: "\e041";}
.loop-file-2:before {content: "\e042";}
.loop-plus:before {content: "\e043";}
.loop-minus:before {content: "\e044";}
.loop-cancel-2:before {content: "\e045";}
.loop-divide:before {content: "\e046";}
.loop-arrows:before {content: "\e047";}
.loop-arrows-2:before {content: "\e048";}
.loop-arrows-3:before {content: "\e049";}
.loop-arrows-4:before {content: "\e04a";}
.loop-popup:before {content: "\e04b";}
.loop-bars:before {content: "\e04c";}
.loop-location:before {content: "\e04d";}
.loop-calendar:before {content: "\e04e";}
.loop-battery:before {content: "\e04f";}
.loop-mail:before {content: "\e050";}
.loop-droplet:before {content: "\e051";}
.loop-star:before {content: "\e052";}
.loop-direction:before {content: "\e053";}
.loop-volume:before {content: "\e054";}
.loop-happy:before {content: "\e055";}
.loop-lab:before {content: "\e056";}
.loop-activity:before {content: "\e057";}
.loop-credit-card:before {content: "\e058";}
.loop-gear:before {content: "\e059";}
.loop-mobile:before {content: "\e05a";}
.loop-justice:before {content: "\e05b";}
.loop-ipod:before {content: "\e05c";}
.loop-picture:before {content: "\e05d";}
.loop-camera-2:before {content: "\e05e";}
.loop-collapse:before {content: "\e05f";}
.loop-user:before {content: "\e060";}
.loop-users:before {content: "\e061";}
.loop-code:before {content: "\e062";}
.loop-arrow:before {content: "\e063";}
.loop-arrow-2:before {content: "\e064";}
.loop-arrow-3:before {content: "\e065";}
.loop-arrow-4:before {content: "\e066";}
.loop-feed:before {content: "\e067";}
.loop-twitter:before {content: "\e068";}

/* Moon */
.moon-home:before {content: "\e000";}
.moon-home-2:before {content: "\e001";}
.moon-home-3:before {content: "\e002";}
.moon-office:before {content: "\e003";}
.moon-newspaper:before {content: "\e004";}
.moon-pencil:before {content: "\e005";}
.moon-pencil-2:before {content: "\e006";}
.moon-quill:before {content: "\e007";}
.moon-pen:before {content: "\e008";}
.moon-blog:before {content: "\e009";}
.moon-droplet:before {content: "\e00a";}
.moon-paint-format:before {content: "\e00b";}
.moon-image:before {content: "\e00c";}
.moon-image-2:before {content: "\e00d";}
.moon-images:before {content: "\e00e";}
.moon-camera:before {content: "\e00f";}
.moon-music:before {content: "\e010";}
.moon-headphones:before {content: "\e011";}
.moon-play:before {content: "\e012";}
.moon-film:before {content: "\e013";}
.moon-camera-2:before {content: "\e014";}
.moon-dice:before {content: "\e015";}
.moon-pacman:before {content: "\e016";}
.moon-spades:before {content: "\e017";}
.moon-clubs:before {content: "\e018";}
.moon-diamonds:before {content: "\e019";}
.moon-pawn:before {content: "\e01a";}
.moon-bullhorn:before {content: "\e01b";}
.moon-connection:before {content: "\e01c";}
.moon-podcast:before {content: "\e01d";}
.moon-feed:before {content: "\e01e";}
.moon-book:before {content: "\e01f";}
.moon-books:before {content: "\e020";}
.moon-library:before {content: "\e021";}
.moon-file:before {content: "\e022";}
.moon-profile:before {content: "\e023";}
.moon-file-2:before {content: "\e024";}
.moon-file-3:before {content: "\e025";}
.moon-file-4:before {content: "\e026";}
.moon-copy:before {content: "\e027";}
.moon-copy-2:before {content: "\e028";}
.moon-copy-3:before {content: "\e029";}
.moon-paste:before {content: "\e02a";}
.moon-paste-2:before {content: "\e02b";}
.moon-paste-3:before {content: "\e02c";}
.moon-stack:before {content: "\e02d";}
.moon-folder:before {content: "\e02e";}
.moon-folder-open:before {content: "\e02f";}
.moon-tag:before {content: "\e030";}
.moon-tags:before {content: "\e031";}
.moon-barcode:before {content: "\e032";}
.moon-qrcode:before {content: "\e033";}
.moon-ticket:before {content: "\e034";}
.moon-cart:before {content: "\e035";}
.moon-cart-2:before {content: "\e036";}
.moon-cart-3:before {content: "\e037";}
.moon-coin:before {content: "\e038";}
.moon-credit:before {content: "\e039";}
.moon-calculate:before {content: "\e03a";}
.moon-support:before {content: "\e03b";}
.moon-phone:before {content: "\e03c";}
.moon-phone-hang-up:before {content: "\e03d";}
.moon-address-book:before {content: "\e03e";}
.moon-notebook:before {content: "\e03f";}
.moon-envelop:before {content: "\e040";}
.moon-pushpin:before {content: "\e041";}
.moon-location:before {content: "\e042";}
.moon-location-2:before {content: "\e043";}
.moon-compass:before {content: "\e044";}
.moon-map:before {content: "\e045";}
.moon-map-2:before {content: "\e046";}
.moon-history:before {content: "\e047";}
.moon-clock:before {content: "\e048";}
.moon-clock-2:before {content: "\e049";}
.moon-alarm:before {content: "\e04a";}
.moon-alarm-2:before {content: "\e04b";}
.moon-bell:before {content: "\e04c";}
.moon-stopwatch:before {content: "\e04d";}
.moon-calendar:before {content: "\e04e";}
.moon-calendar-2:before {content: "\e04f";}
.moon-print:before {content: "\e050";}
.moon-keyboard:before {content: "\e051";}
.moon-screen:before {content: "\e052";}
.moon-laptop:before {content: "\e053";}
.moon-mobile:before {content: "\e054";}
.moon-mobile-2:before {content: "\e055";}
.moon-tablet:before {content: "\e056";}
.moon-tv:before {content: "\e057";}
.moon-cabinet:before {content: "\e058";}
.moon-drawer:before {content: "\e059";}
.moon-drawer-2:before {content: "\e05a";}
.moon-drawer-3:before {content: "\e05b";}
.moon-box-add:before {content: "\e05c";}
.moon-box-remove:before {content: "\e05d";}
.moon-download:before {content: "\e05e";}
.moon-upload:before {content: "\e05f";}
.moon-disk:before {content: "\e060";}
.moon-storage:before {content: "\e061";}
.moon-undo:before {content: "\e062";}
.moon-redo:before {content: "\e063";}
.moon-flip:before {content: "\e064";}
.moon-flip-2:before {content: "\e065";}
.moon-undo-2:before {content: "\e066";}
.moon-redo-2:before {content: "\e067";}
.moon-forward:before {content: "\e068";}
.moon-reply:before {content: "\e069";}
.moon-bubble:before {content: "\e06a";}
.moon-bubbles:before {content: "\e06b";}
.moon-bubbles-2:before {content: "\e06c";}
.moon-bubble-2:before {content: "\e06d";}
.moon-bubbles-3:before {content: "\e06e";}
.moon-bubbles-4:before {content: "\e06f";}
.moon-user:before {content: "\e070";}
.moon-users:before {content: "\e071";}
.moon-user-2:before {content: "\e072";}
.moon-users-2:before {content: "\e073";}
.moon-user-3:before {content: "\e074";}
.moon-user-4:before {content: "\e075";}
.moon-quotes-left:before {content: "\e076";}
.moon-busy:before {content: "\e077";}
.moon-spinner:before {content: "\e078";}
.moon-spinner-2:before {content: "\e079";}
.moon-spinner-3:before {content: "\e07a";}
.moon-spinner-4:before {content: "\e07b";}
.moon-spinner-5:before {content: "\e07c";}
.moon-spinner-6:before {content: "\e07d";}
.moon-binoculars:before {content: "\e07e";}
.moon-search:before {content: "\e07f";}
.moon-zoom-in:before {content: "\e080";}
.moon-zoom-out:before {content: "\e081";}
.moon-expand:before {content: "\e082";}
.moon-contract:before {content: "\e083";}
.moon-expand-2:before {content: "\e084";}
.moon-contract-2:before {content: "\e085";}
.moon-key:before {content: "\e086";}
.moon-key-2:before {content: "\e087";}
.moon-lock:before {content: "\e088";}
.moon-lock-2:before {content: "\e089";}
.moon-unlocked:before {content: "\e08a";}
.moon-wrench:before {content: "\e08b";}
.moon-settings:before {content: "\e08c";}
.moon-equalizer:before {content: "\e08d";}
.moon-cog:before {content: "\e08e";}
.moon-cogs:before {content: "\e08f";}
.moon-cog-2:before {content: "\e090";}
.moon-hammer:before {content: "\e091";}
.moon-wand:before {content: "\e092";}
.moon-aid:before {content: "\e093";}
.moon-bug:before {content: "\e094";}
.moon-pie:before {content: "\e095";}
.moon-stats:before {content: "\e096";}
.moon-bars:before {content: "\e097";}
.moon-bars-2:before {content: "\e098";}
.moon-gift:before {content: "\e099";}
.moon-trophy:before {content: "\e09a";}
.moon-glass:before {content: "\e09b";}
.moon-mug:before {content: "\e09c";}
.moon-food:before {content: "\e09d";}
.moon-leaf:before {content: "\e09e";}
.moon-rocket:before {content: "\e09f";}
.moon-meter:before {content: "\e0a0";}
.moon-meter2:before {content: "\e0a1";}
.moon-dashboard:before {content: "\e0a2";}
.moon-hammer-2:before {content: "\e0a3";}
.moon-fire:before {content: "\e0a4";}
.moon-lab:before {content: "\e0a5";}
.moon-magnet:before {content: "\e0a6";}
.moon-remove:before {content: "\e0a7";}
.moon-remove-2:before {content: "\e0a8";}
.moon-briefcase:before {content: "\e0a9";}
.moon-airplane:before {content: "\e0aa";}
.moon-truck:before {content: "\e0ab";}
.moon-road:before {content: "\e0ac";}
.moon-accessibility:before {content: "\e0ad";}
.moon-target:before {content: "\e0ae";}
.moon-shield:before {content: "\e0af";}
.moon-lightning:before {content: "\e0b0";}
.moon-switch:before {content: "\e0b1";}
.moon-power-cord:before {content: "\e0b2";}
.moon-signup:before {content: "\e0b3";}
.moon-list:before {content: "\e0b4";}
.moon-list-2:before {content: "\e0b5";}
.moon-numbered-list:before {content: "\e0b6";}
.moon-menu:before {content: "\e0b7";}
.moon-menu-2:before {content: "\e0b8";}
.moon-tree:before {content: "\e0b9";}
.moon-cloud:before {content: "\e0ba";}
.moon-cloud-download:before {content: "\e0bb";}
.moon-cloud-upload:before {content: "\e0bc";}
.moon-download-2:before {content: "\e0bd";}
.moon-upload-2:before {content: "\e0be";}
.moon-download-3:before {content: "\e0bf";}
.moon-upload-3:before {content: "\e0c0";}
.moon-globe:before {content: "\e0c1";}
.moon-earth:before {content: "\e0c2";}
.moon-link:before {content: "\e0c3";}
.moon-flag:before {content: "\e0c4";}
.moon-attachment:before {content: "\e0c5";}
.moon-eye:before {content: "\e0c6";}
.moon-eye-blocked:before {content: "\e0c7";}
.moon-eye-2:before {content: "\e0c8";}
.moon-bookmark:before {content: "\e0c9";}
.moon-bookmarks:before {content: "\e0ca";}
.moon-brightness-medium:before {content: "\e0cb";}
.moon-brightness-contrast:before {content: "\e0cc";}
.moon-contrast:before {content: "\e0cd";}
.moon-star:before {content: "\e0ce";}
.moon-star-2:before {content: "\e0cf";}
.moon-star-3:before {content: "\e0d0";}
.moon-heart:before {content: "\e0d1";}
.moon-heart-2:before {content: "\e0d2";}
.moon-heart-broken:before {content: "\e0d3";}
.moon-thumbs-up:before {content: "\e0d4";}
.moon-thumbs-up-2:before {content: "\e0d5";}
.moon-happy:before {content: "\e0d6";}
.moon-happy-2:before {content: "\e0d7";}
.moon-smiley:before {content: "\e0d8";}
.moon-smiley-2:before {content: "\e0d9";}
.moon-tongue:before {content: "\e0da";}
.moon-tongue-2:before {content: "\e0db";}
.moon-sad:before {content: "\e0dc";}
.moon-sad-2:before {content: "\e0dd";}
.moon-wink:before {content: "\e0de";}
.moon-wink-2:before {content: "\e0df";}
.moon-grin:before {content: "\e0e0";}
.moon-grin-2:before {content: "\e0e1";}
.moon-cool:before {content: "\e0e2";}
.moon-cool-2:before {content: "\e0e3";}
.moon-angry:before {content: "\e0e4";}
.moon-angry-2:before {content: "\e0e5";}
.moon-evil:before {content: "\e0e6";}
.moon-evil-2:before {content: "\e0e7";}
.moon-shocked:before {content: "\e0e8";}
.moon-shocked-2:before {content: "\e0e9";}
.moon-confused:before {content: "\e0ea";}
.moon-confused-2:before {content: "\e0eb";}
.moon-neutral:before {content: "\e0ec";}
.moon-neutral-2:before {content: "\e0ed";}
.moon-wondering:before {content: "\e0ee";}
.moon-wondering-2:before {content: "\e0ef";}
.moon-point-up:before {content: "\e0f0";}
.moon-point-right:before {content: "\e0f1";}
.moon-point-down:before {content: "\e0f2";}
.moon-point-left:before {content: "\e0f3";}
.moon-warning:before {content: "\e0f4";}
.moon-notification:before {content: "\e0f5";}
.moon-question:before {content: "\e0f6";}
.moon-info:before {content: "\e0f7";}
.moon-info-2:before {content: "\e0f8";}
.moon-blocked:before {content: "\e0f9";}
.moon-cancel-circle:before {content: "\e0fa";}
.moon-checkmark-circle:before {content: "\e0fb";}
.moon-spam:before {content: "\e0fc";}
.moon-close:before {content: "\e0fd";}
.moon-checkmark:before {content: "\e0fe";}
.moon-checkmark-2:before {content: "\e0ff";}
.moon-spell-check:before {content: "\e100";}
.moon-minus:before {content: "\e101";}
.moon-plus:before {content: "\e102";}
.moon-enter:before {content: "\e103";}
.moon-exit:before {content: "\e104";}
.moon-play-2:before {content: "\e105";}
.moon-pause:before {content: "\e106";}
.moon-stop:before {content: "\e107";}
.moon-backward:before {content: "\e108";}
.moon-forward-2:before {content: "\e109";}
.moon-play-3:before {content: "\e10a";}
.moon-pause-2:before {content: "\e10b";}
.moon-stop-2:before {content: "\e10c";}
.moon-backward-2:before {content: "\e10d";}
.moon-forward-3:before {content: "\e10e";}
.moon-first:before {content: "\e10f";}
.moon-last:before {content: "\e110";}
.moon-previous:before {content: "\e111";}
.moon-next:before {content: "\e112";}
.moon-eject:before {content: "\e113";}
.moon-volume-high:before {content: "\e114";}
.moon-volume-medium:before {content: "\e115";}
.moon-volume-low:before {content: "\e116";}
.moon-volume-mute:before {content: "\e117";}
.moon-volume-mute-2:before {content: "\e118";}
.moon-volume-increase:before {content: "\e119";}
.moon-volume-decrease:before {content: "\e11a";}
.moon-loop:before {content: "\e11b";}
.moon-loop-2:before {content: "\e11c";}
.moon-loop-3:before {content: "\e11d";}
.moon-shuffle:before {content: "\e11e";}
.moon-arrow-up-left:before {content: "\e11f";}
.moon-arrow-up:before {content: "\e120";}
.moon-arrow-up-right:before {content: "\e121";}
.moon-arrow-right:before {content: "\e122";}
.moon-arrow-down-right:before {content: "\e123";}
.moon-arrow-down:before {content: "\e124";}
.moon-arrow-down-left:before {content: "\e125";}
.moon-arrow-left:before {content: "\e126";}
.moon-arrow-up-left-2:before {content: "\e127";}
.moon-arrow-up-2:before {content: "\e128";}
.moon-arrow-up-right-2:before {content: "\e129";}
.moon-arrow-right-2:before {content: "\e12a";}
.moon-arrow-down-right-2:before {content: "\e12b";}
.moon-arrow-down-2:before {content: "\e12c";}
.moon-arrow-down-left-2:before {content: "\e12d";}
.moon-arrow-left-2:before {content: "\e12e";}
.moon-arrow-up-left-3:before {content: "\e12f";}
.moon-arrow-up-3:before {content: "\e130";}
.moon-arrow-up-right-3:before {content: "\e131";}
.moon-arrow-right-3:before {content: "\e132";}
.moon-arrow-down-right-3:before {content: "\e133";}
.moon-arrow-down-3:before {content: "\e134";}
.moon-arrow-down-left-3:before {content: "\e135";}
.moon-arrow-left-3:before {content: "\e136";}
.moon-tab:before {content: "\e137";}
.moon-checkbox-checked:before {content: "\e138";}
.moon-checkbox-unchecked:before {content: "\e139";}
.moon-checkbox-partial:before {content: "\e13a";}
.moon-radio-checked:before {content: "\e13b";}
.moon-radio-unchecked:before {content: "\e13c";}
.moon-crop:before {content: "\e13d";}
.moon-scissors:before {content: "\e13e";}
.moon-filter:before {content: "\e13f";}
.moon-filter-2:before {content: "\e140";}
.moon-font:before {content: "\e141";}
.moon-text-height:before {content: "\e142";}
.moon-text-width:before {content: "\e143";}
.moon-bold:before {content: "\e144";}
.moon-underline:before {content: "\e145";}
.moon-italic:before {content: "\e146";}
.moon-strikethrough:before {content: "\e147";}
.moon-omega:before {content: "\e148";}
.moon-sigma:before {content: "\e149";}
.moon-table:before {content: "\e14a";}
.moon-table-2:before {content: "\e14b";}
.moon-insert-template:before {content: "\e14c";}
.moon-pilcrow:before {content: "\e14d";}
.moon-left-to-right:before {content: "\e14e";}
.moon-right-to-left:before {content: "\e14f";}
.moon-paragraph-left:before {content: "\e150";}
.moon-paragraph-center:before {content: "\e151";}
.moon-paragraph-right:before {content: "\e152";}
.moon-paragraph-justify:before {content: "\e153";}
.moon-paragraph-left-2:before {content: "\e154";}
.moon-paragraph-center-2:before {content: "\e155";}
.moon-paragraph-right-2:before {content: "\e156";}
.moon-paragraph-justify-2:before {content: "\e157";}
.moon-indent-increase:before {content: "\e158";}
.moon-indent-decrease:before {content: "\e159";}
.moon-new-tab:before {content: "\e15a";}
.moon-embed:before {content: "\e15b";}
.moon-code:before {content: "\e15c";}
.moon-console:before {content: "\e15d";}
.moon-share:before {content: "\e15e";}
.moon-mail:before {content: "\e15f";}
.moon-mail-2:before {content: "\e160";}
.moon-mail-3:before {content: "\e161";}
.moon-mail-4:before {content: "\e162";}
.moon-google:before {content: "\e163";}
.moon-google-plus:before {content: "\e164";}
.moon-google-plus-2:before {content: "\e165";}
.moon-google-plus-3:before {content: "\e166";}
.moon-google-drive:before {content: "\e167";}
.moon-facebook:before {content: "\e168";}
.moon-facebook-2:before {content: "\e169";}
.moon-facebook-3:before {content: "\e16a";}
.moon-instagram:before {content: "\e16b";}
.moon-twitter:before {content: "\e16c";}
.moon-twitter-2:before {content: "\e16d";}
.moon-twitter-3:before {content: "\e16e";}
.moon-feed-2:before {content: "\e16f";}
.moon-feed-3:before {content: "\e170";}
.moon-feed-4:before {content: "\e171";}
.moon-youtube:before {content: "\e172";}
.moon-youtube-2:before {content: "\e173";}
.moon-vimeo:before {content: "\e174";}
.moon-vimeo2:before {content: "\e175";}
.moon-vimeo-2:before {content: "\e176";}
.moon-lanyrd:before {content: "\e177";}
.moon-flickr:before {content: "\e178";}
.moon-flickr-2:before {content: "\e179";}
.moon-flickr-3:before {content: "\e17a";}
.moon-flickr-4:before {content: "\e17b";}
.moon-picassa:before {content: "\e17c";}
.moon-picassa-2:before {content: "\e17d";}
.moon-dribbble:before {content: "\e17e";}
.moon-dribbble-2:before {content: "\e17f";}
.moon-dribbble-3:before {content: "\e180";}
.moon-forrst:before {content: "\e181";}
.moon-forrst-2:before {content: "\e182";}
.moon-deviantart:before {content: "\e183";}
.moon-deviantart-2:before {content: "\e184";}
.moon-steam:before {content: "\e185";}
.moon-steam-2:before {content: "\e186";}
.moon-github:before {content: "\e187";}
.moon-github-2:before {content: "\e188";}
.moon-github-3:before {content: "\e189";}
.moon-github-4:before {content: "\e18a";}
.moon-github-5:before {content: "\e18b";}
.moon-wordpress:before {content: "\e18c";}
.moon-wordpress-2:before {content: "\e18d";}
.moon-joomla:before {content: "\e18e";}
.moon-blogger:before {content: "\e18f";}
.moon-blogger-2:before {content: "\e190";}
.moon-tumblr:before {content: "\e191";}
.moon-tumblr-2:before {content: "\e192";}
.moon-yahoo:before {content: "\e193";}
.moon-tux:before {content: "\e194";}
.moon-apple:before {content: "\e195";}
.moon-finder:before {content: "\e196";}
.moon-android:before {content: "\e197";}
.moon-windows:before {content: "\e198";}
.moon-windows8:before {content: "\e199";}
.moon-soundcloud:before {content: "\e19a";}
.moon-soundcloud-2:before {content: "\e19b";}
.moon-skype:before {content: "\e19c";}
.moon-reddit:before {content: "\e19d";}
.moon-linkedin:before {content: "\e19e";}
.moon-lastfm:before {content: "\e19f";}
.moon-lastfm-2:before {content: "\e1a0";}
.moon-delicious:before {content: "\e1a1";}
.moon-stumbleupon:before {content: "\e1a2";}
.moon-stumbleupon-2:before {content: "\e1a3";}
.moon-stackoverflow:before {content: "\e1a4";}
.moon-pinterest:before {content: "\e1a5";}
.moon-pinterest-2:before {content: "\e1a6";}
.moon-xing:before {content: "\e1a7";}
.moon-xing-2:before {content: "\e1a8";}
.moon-flattr:before {content: "\e1a9";}
.moon-foursquare:before {content: "\e1aa";}
.moon-file-excel:before {content: "\e1ab";}
.moon-file-zip:before {content: "\e1ac";}
.moon-file-powerpoint:before {content: "\e1ad";}
.moon-file-xml:before {content: "\e1ae";}
.moon-file-css:before {content: "\e1af";}
.moon-html5:before {content: "\e1b0";}
.moon-html5-2:before {content: "\e1b1";}
.moon-css3:before {content: "\e1b2";}
.moon-chrome:before {content: "\e1b3";}
.moon-firefox:before {content: "\e1b4";}
.moon-IE:before {content: "\e1b5";}
.moon-opera:before {content: "\e1b6";}
.moon-safari:before {content: "\e1b7";}
.moon-IcoMoon:before {content: "\e1b8";}
.moon-foursquare-2:before {content: "\e1b9";}
.moon-paypal:before {content: "\e1ba";}
.moon-paypal-2:before {content: "\e1bb";}
.moon-paypal-3:before {content: "\e1bc";}
.moon-yelp:before {content: "\e1bd";}
.moon-libreoffice:before {content: "\e1be";}
.moon-file-pdf:before {content: "\e1bf";}
.moon-file-openoffice:before {content: "\e1c0";}
.moon-file-word:before {content: "\e1c1";}
.moon-google-plus-4:before {content: "\e1c2";}