    html, body {
    margin:0;
    padding:0;
    height:100%;
    }
    #change_wrap_div
    {
	width: 100%;
	min-width: 1200px;
	min-height: 100%;
	background-color: #ffffff;
    background-repeat: repeat;
    }
	#footer, #sub-footer, .push { height: 40px; }
    #footer, #sub-footer
    {
	width: 100%;
	min-width: 1200px;
	position: relative;
	margin-top: -40px; /* negative value of footer height */
	clear:both;
	background-color: #bf002d;
    background-repeat: repeat-y;
    }
	#sub-footer .six
	{
	position: relative;
	top: 10px;
	}
	#sub-footer .right{
	text-align: right;
	}
	#sub-footer #designer
	{
	color: white;
	}
    a.back:hover,
    .buttons .button.checkout, #commentform #submit,
    .service-icon:hover span,
    .tags-widget a:hover,
    .comment-author a.comment-reply-link:hover,
    .feature-box.al-center:hover .icon,
    .feature-box.al-left:hover .icon,
    .feature-box.al-right:hover .icon,
    #open-top-panel:hover, #open-top-panel.active
    {
    border-color: #0a0a0a;
    }

    h3 span, a,
    .footer-menu a:hover,
    a.back:hover,
    #top-menu>ul>li:hover .tile-icon,
    .recent-block .tabs.horisontal dd a:hover,
    .recent-block .tabs.horisontal dd.active a,
    .dopinfo a.comments, .dopinfo a:hover,
    .entry-title a:hover,
    .post header > h3 a:hover,
    .widget_crum_galleries_widget h4.box-name a:hover,
    .filter li a:hover, .filter li.active a,
    .feature-box.al-center:hover .icon,
    .feature-box.al-left:hover .icon,
    .feature-box.al-right:hover .icon,
    .backtotop,
    .share-icons a:hover,
    #open-top-panel:hover, #open-top-panel.active
    {
    color: #0a0a0a;
    }


    #header .menu > li >ul>li>.menu-item-wrap>a:hover,
    #header .menu > li > ul > li >ul>li>.menu-item-wrap>a:hover,
    #header .menu > li>ul>li.current-menu-item>.menu-item-wrap>a,

    .to-action-block,
    .item .description,
    .tabs.vertical dd.active,
    .tabs.vertical li.active,
    #top-footer,
    #feedburner_subscribe input[type="submit"],
    div.progress .meter,
    .crum_stiky_news .blocks-label,
    .page-nav .older:hover,
    .page-nav .newer:hover,
    .page-nav span:hover a,
    .project-title a:hover,
    #top-panel,
    .buttons .button.checkout, #commentform #submit,
    .service-icon:hover span,
    .tags-widget a:hover,
    .comment-author a.comment-reply-link:hover,
    .slider-nav a.active,
    #top-panel .top-panel-inner,
    #open-top-panel:hover, #open-top-panel.active,
    .pricing-table .title,
    .blue-circle,
    .info-item.clickable:hover,
    .styled-widget-list > li:hover,
    .shop-category-widget li a:hover, .category-widget li a:hover, .widget_nav_menu li a:hover, .widget_nav_menu li.current-menu-item>a
    {
    background-color: #0a0a0a;
    }

    ul.accordion > li.active > div.title h6
    {
    border-bottom: 3px solid #0a0a0a;
    }
    .ui-tabs .ui-tabs-nav li.ui-tabs-active, .wpb_accordion .ui-accordion .ui-accordion-header-active, .tabs dd.active a, .tabs li.active a{
    border-top: 3px solid #0a0a0a;
    }

    .backtotop {
    border: 3px solid #0a0a0a;
    }
    .pricing-table .title:after {
    border-top-color: #0a0a0a;
    }

    .entry-thumb:hover .hover-box {
    background: rgba(10,10,10, .8);
    }



    /*Secondary colors*/

    a:hover,
    ul.accordion > li.active > div.title .icon_wrap .icon,
    #open-top-panel:before
    {
    color: #e2e2e2;
    }

    ul.accordion > li.active > div.title .icon_wrap {
    border-bottom: 3px solid #e2e2e2;
    }
    .hover-box:after {
    border-top-color: #e2e2e2;
    }

    #open-top-panel {
    border: 3px solid #e2e2e2;
    }

    .backtotop:hover {
    color: #e2e2e2;
    border-color: #e2e2e2;
    }
    .extra-links a:hover {
    border-color: #e2e2e2;
    background-color:#e2e2e2;
    }
    .buttons .button.checkout:hover, #commentform #submit {
    background-color: #e2e2e2;
    border-color: #e2e2e2;
    }

    ::-moz-selection {
    background-color: #e2e2e2;
    color: #fff;
    }

    ::selection {
    background-color: #e2e2e2;
    color: #fff;
    }


//.widget-title{content: "linecon-diamond"; ie: "linecon-diamond"}.widget_crum_recent_posts .widget-title{content: "linecon-doc"; ie:"linecon-doc";}.widget_rss_mail_subscribe .widget-title{content: "awesome-rss";ie: "awesome-rss"}.widget_recent_block .widget-title, .widget_crum_recent_desc .widget-title, .recent-block .widget-title{content: "linecon-camera"; ie:"linecon-camera" }.widget_crum_news_cat .widget-title, .widget_crum_news_row .widget-title, .widget_crum_news_desc .widget-title{content: "linecon-note"; ie: "linecon-note"}.widget_list_widget .widget-title{content: "linecon-money"; ie: "linecon-money"}.widget_crum_testimonial_widget .widget-title{content: "linecon-thumbs-up"; ie: "linecon-thumbs-up"}.widget_crum_partners_widget .widget-title{content: "linecon-globe"; ie: "linecon-globe"}.widget_crum-text-widget .widget-title{content: "linecon-clock"; ie:"linecon-clock"}.widget_roots_vcard_widget .widget-title{content: "linecon-diamond"; ie:"linecon-diamond"}.widget_crum_tags_widget .widget-title{content: "linecon-tag"; ie:"linecon-tag"}.widget_crum_crum_widget_tabs .widget-title{content: "linecon-calendar"; ie: "linecon-calendar"}.widget_gallery_widget .widget-title{content: "linecon-paper-plane"; ie: "linecon-paper-plane"}.widget_twitter-widget .widget-title{content: "moon-twitter"; ie:"moon-twitter"}.widget_crum_icon_categories .widget-title{content: "awesome-list-ul"; ie:"awesome-list-ul"}.widget_facebook_widget .widget-title{content: "moon-facebook"; ie:"moon-facebook"}.widget_crum_widgets_video .widget-title{content: "linecon-videocam"; ie:"linecon-videocam";}.widget_crum_widget_v_accordion .widget-title{content: "linecon-lightbulb"; ie:"linecon-lightbulb";}.widget_crum_galleries_widget .widget-title{content: "linecon-photo"; ie:"linecon-photo";}.widget_about_author_widget .widget-title{content: "linecon-sound"; ie:"linecon-sound";}.widget_skills_widget .widget-title{content: "linecon-params"; ie:"linecon-params";}.widget_crum_shortcode_widget .widget-title{content: "linecon-diamond";ie:"linecon-diamond"}.widget_crum_widget_features .widget-title{content: "linecon-tv"; ie:"linecon-tv";}.widget_wp_sidebarlogin .widget-title{content: "linecon-diamond"; ie:"linecon-diamond";}.widget_shopping_cart .widget-title{content: "linecon-diamond"; ie:"linecon-diamond";}








