@font-face{
    font-family: headerFont;
    src: url(KITCHENPOLICE.ttf);
}

a{
    color: red;
}

a:hover{
    text-decoration: none;
}

form .rememberMe label{
    display: inline;
    position: relative;
    top: 4px;
}

.navbar-inner{
    background-color: #DA4F49;
    background-image: -moz-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
    background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: -o-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: #BD362F #BD362F #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar .brand, .navbar .nav li a{
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .brand{
    font-family: headerFont;
    font-size: 24px;
}

.navbar .brand:hover, .navbar .nav li a:hover{
    color: red;
}