
/* -----------------------------------------
   Page Builder Blocks
----------------------------------------- */

/* -----------------------------------------
   --  Info row block
----------------------------------------- */

.info-box .title {
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 7px;
    padding-top: 6px;
}

.info-box p {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0;
}

.info-box.al-right .icon {
    margin-left: 30px;
    padding-left: 10px;
    border-left: 1px solid #cbcbcb;
}

/* -----------------------------------------
   --  Call to Action block
----------------------------------------- */

.to-action-block {
    display: table;
    width:100%;
    overflow: hidden;
    border-radius: 3px;
    behavior:url(border-radius.htc);
}
.to-action-block * {
    margin: 0;
}

.to-action-block .ovh {
    display: table-cell;
    padding: 20px;
}

.to-action-block .action-button .icon {
    margin: -2px 10px 0 0;
    display: block;
    float: left;
    font-size: 22px;
}
.to-action-block .action-button {
    font-size: 19px;
    font-weight: 300;
    display: table-cell;
    text-align:left;
    white-space: nowrap;
    vertical-align: middle;
    padding: 20px;
}

.to-action-block h2 {
    font-size: 20px;
    font-weight: 300
}



/* -----------------------------------------
   --  Info box
----------------------------------------- */
.feature-box {
    position: relative;
}
.feature-box p {
    margin: 0;
}
.feature-box h3 {
    margin-bottom: 20px;
}

.feature-box.al-left .icon, .feature-box.al-right  .icon {
    margin-top: 25px;
}
.feature-box.al-left .icon {
    margin-right: 25px;
}
.feature-box.al-right .icon {
    margin-left: 25px;
}
.feature-box .icon{
    font-size: 53px;
}
.feature-box .icon .icon-paper-plane {
    position: relative;
    top: -4px;
    left: -2px;
}

.feature-box .block-content {
    margin-left: 70px;
}

.feature-box:hover a{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.feature-box.al-center .icon {
    font-size: 32px;
    width: 80px;
    height: 80px;
    line-height: 70px;
    text-align: center;
    display: block;
    border-radius: 100em;
    behavior:url(border-radius.htc);
    border: 5px solid;
}
.feat-block-content {
    overflow: hidden;
}


/* -----------------------------------------
   --  Info box with button
----------------------------------------- */

.info-butt {
    margin: 20px 0 40px;
    padding: 0 20px;

}
.info-butt h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 19px;
}
.info-butt p{
    margin-bottom: 20px;
}
.info-butt .button {
    margin-top: 10px;
}


/* -----------------------------------------
   -- Crumina slider
----------------------------------------- */

.main-slider-block {
    width: 100%;
    position: relative;
}
.main-slider-block .item {
    float: left;
    border-radius: 2px;
    behavior:url(border-radius.htc);
    margin: 2px .25%;
    position: relative;
    width: 49.5%;
    line-height: 0.8;
}

.main-slider-block .slider-nav {
    margin-top: 10px;
}

.single-slider-block {
    margin-bottom: 20px;
}
.single-slider-block .item {
    position: relative;
    border-radius: 2px;
    behavior:url(border-radius.htc);
    overflow: hidden;
}
.single-slider-block .item>img {
    min-width:100%;
}

.item .description .icon-format:before {
    left: 0;
    padding-top: 12px;
}

.item .description .icon-format {
    width: 70px;
    height: 58px;
    margin: -5px 10px 0 15px;
    background-position: center;
}

.item .description   {
    position: absolute;
    padding: 9px 30px 9px 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #6e7a7e;
    background: rgba(0,0,0,.3);
    border-radius: 2px;
    behavior:url(border-radius.htc);
}

.item .description:hover   {
    box-shadow: 0 0 200px rgb(0, 0, 0) inset;
    -webkit-box-shadow: 0 0 200px rgb(0, 0, 0) inset;
    -moz-box-shadow: 0 0 200px rgb(0, 0, 0) inset;
}

.item .description .sl-item-title{
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.item .description .sl-description{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    width: 100%;
    height: 100px;
    position: absolute;
    top: 30%;
    padding: 20px;
}


.item .description:hover .sl-item-title{
    top: 15%;

}
.item .description:hover .sl-description {
    opacity: 100;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

.description .text {
    font-size: 12px;
    line-height: 1.6;
    margin-top: 20px;
    padding: 0 20px 20px 60px;
}
.sin-sl-img .description .text {
    margin-top: 30px;
}

.item .description .info, .item .description .title {
    margin-left: 84px;
    line-height: 1.2;
}

.item .description .title {
    margin-top: 4px;
}

.item .description .title .slider_description_one {
    display: none;
}

.item .description .title p {
    margin: 0;
}

.item .description .icon {
    float: left;
    padding-top: 5px;
}

.item .info, .item .info span{
    font-size: 11px;
    line-height: 19px;
    font-style: italic;
}

.item .info {
    padding-top: 3px;
    color:#fff;
}

.item .description .more {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.item .description .title {
    font-size: 16px;
    line-height:19px;
    font-weight: 700;

}

.item .description .text-button {
    font-size: 12px;
    padding: 7px 20px;
}

.portfolio-item a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.slider-nav {
    position: relative;
}
.slider-nav a {
    height: 17px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 1200px;
    display: table-cell;
    background: #f1f1f1;
    cursor: pointer;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
}
#main-content.eight .slider-nav a {
    max-width: 191px;
}
.slider-nav a.active {
    cursor: default;
}

.orbit-wrapper .slider-nav {
    position: static;
    padding: 0;
}

/* -----------------------------------------
   Recent items
----------------------------------------- */


.recent-block ul.tabs-content.contained > li {
    padding-top: 0;
}
/* -----------------------------------------
   Styled list with icon
----------------------------------------- */


.list-blocks {
    position: absolute;
    right: 0;
    top: 5px;
}
.list-blocks a {
    width: 23px;
    height: 23px;
    display: block;
    float: right;
    opacity:.4;
    margin-left: 5px;
    background-image: url(../../img/arrow-slide.png);
    background-repeat: no-repeat;

}
.list-blocks a.flex-next {
    background-position: 0 0;
}
.list-blocks a.flex-prev {
    background-position: 0 -26px;
    float:left;
}
.list-blocks a:hover {
    opacity:1;
}

/* -----------------------------------------
   -- Vertical tabs
----------------------------------------- */

.tabs.vertical dd.active,
.tabs.vertical li.active {
    border:none;
    border-radius:2px;
    behavior:url(border-radius.htc);
}

.tabs.vertical {
    border-bottom: none;
}
.tabs.vertical dd, .tabs.vertical li {
    border-left: none;
    position: relative;
}
.tabs.vertical dd a,
.tabs.vertical li a {
    background: none;
    text-align: right;
    border: none;
    display: block;
    font-size: 15px;
    height: auto;
    line-height: 1.2;
    padding: 10px 15px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    font-style: italic;

}
.tabs.vertical dd.active a,
.tabs.vertical li.active a {
    background: none;
    border-right: none;
    height: auto;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.tabs.vertical dd a .tab-title,
.tabs.vertical li a .tab-title {
    border-right:1px solid #ffffff;
    border-right:1px solid rgba(255, 255, 255, .25);
    padding: 7px 15px 7px 0;
    margin-right: 32px;
    display: block;
}

.tabs.vertical dd a .icon,
.tabs.vertical li a .icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -13px;
    padding: 0;
}

/* -----------------------------------------
   -- Horisontal tabs
----------------------------------------- */

.tabs, .filter {
    height: 52px;
    list-style: none;
}
.tabs {
    border-color: #eceff0;
}

.tabs dd, .tabs li, .filter li {
    height: 52px;
    line-height: 52px;
}

.tabs dd i,
.tabs li i{
    font-size: 20px;
    padding-right: 15px;
}
.filter li a {
    color: inherit;
    font-style: italic;
}
.recent-block .tabs dd {border:none !important;}
.tabs dd a,
.tabs li a{
    font-size: 15px;
    font-style: italic;
}

.tabs dd.active,
.tabs li.active
{
    border: none;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    margin-top:0;
}
.tabs dd
.tabs li
{
    border-right: 1px solid #e6e6e6;
}
.tabs dd.active a,
.tabs li.active a {
    color: inherit;
    border: none;
    font-weight: normal;
    line-height: 15px;
}

.tabs.horisontal dd a,
.tabs.horisontal li a {
    background-color: #f8f8f8;
    border: 1px solid #eceff0;
    border-left:none;
    border-right: none;
    padding: 15px;
    line-height: 18px;
    height: 52px;
    text-align: center;
}
.tabs.horisontal dd:first-child,
.tabs.horisontal li:first-child{
    border-left: 1px solid #eceff0;
}
.tabs.horisontal dd,
.tabs.horisontal li{
    border-right: 1px solid #eceff0;
}

.tabs.horisontal dd.active a,
.tabs.horisontal li.active a {
    background-color: #ffffff;
    border-bottom: none;
}

ul.tabs-content.contained > li {
    border: none;
    padding: 30px 0 0 0;
    width: 100%;
}

ul.tabs-content .mini-news .entry-summary {
    padding-top: 0;
}

.filter li {
    float: left;
}

.filter li a {
    padding: 0 21px;
    display: block;
}

.aq_tabs .tabs.horisontal dd,
.aq_tabs .tabs.horisontal li {
    width: 33.3%;
    max-width: 150px;
}


/* -----------------------------------------
   Testmortials
----------------------------------------- */

.block-otzuv {
    margin-bottom: 20px;
    padding-top: 20px;
}

.block-otzuv, .block-one-news, .partners-block, .latest-gallery-block  {
    position: relative;
}

.widget:hover  .list-blocks  {
    display: block;
}


.block-one-news .page-block-title {
    padding-right: 45px;
}
.block-one-news .more>img {
    min-width: 100%;
}

.quote {
    padding: 0 20px 0 60px;
    position: relative;
    font-weight: normal;
    font-style: italic;
    line-height: 25px;
}

.quote p {
    font-weight: normal;
    font-style: italic;
}

.quote:before {
    content: '\201C';
    position: absolute;
    top: -0;
    left: 0;
    font: 123px/117px Comic Sans MS;
}
.quoteCite {
    padding: 15px 0 0 0;
    min-height: 80px;
}
.quoteCite .avatar {
    position: relative;
    float: left;
    border-radius: 100em;
    behavior:url(border-radius.htc);
}
.quoteCite .quote-author {
    padding-top: 7px;
    display: block;
    margin-left: 70px;
    font-size: 14px;
    font-weight: 400;

}
.quoteCite .quote-sub {
    display: block;
    margin-left: 70px;
    font-size: 12px;
    font-style: italic;
}
/* -----------------------------------------
   Clickable block
----------------------------------------- */


.info-item.clickable {
    position: relative;
    border-radius: 3px;
    padding: 15px;

    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;

}
.info-item.clickable a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.info-item.clickable:hover {
    background-color: #50b4e6;
    color: #fff;
}

.info-item.clickable:hover h6, .info-item.clickable:hover h3 span {
    color: #cbeeff;
}
.info-item.clickable:hover h3, .info-item.clickable:hover p {
    color: #fff;
}
.info-item.clickable:hover img.normal, .info-item.clickable img.hovered {
    display: none;
}
.info-item.clickable:hover img.hovered {
    display: inline;
}

/* -----------------------------------------
   Clients list
----------------------------------------- */

.clients-list {
    text-align: center;
    display: table;
    width: 100%;
}
.clients-item:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset;
}

.clients-item {
    padding:10px 0;
    border: 1px solid #e7e8ea;
    border-left: none;
    display: table-cell;
    vertical-align:middle;
    width:20%;
}
.clients-list .clients-item:first-child {
    border-left: 1px solid #e7e8ea;
}

/* -----------------------------------------
   Styled list
----------------------------------------- */

ul.styled-list  {
    padding: 0;
    margin: 0;
    list-style: none;
}
.styled-list li {
    padding: 0 0 7px 25px ;
    margin: 0;
    font-style: italic;
    list-style: none;
    background: url(../../img/arrow-list.png) 2px 4px no-repeat;
}

/* -----------------------------------------
   -- Recent works block
----------------------------------------- */

.recent-block .widget-title {
    margin-bottom: 0;
}

.recent-block ul.tabs-content{
    margin: 0;
}
.recent-block .tabs {
    height: auto;
    border: none;
}
.recent-block .tabs.horisontal dd a,
.recent-block .tabs.horisontal li a {
    border: none;
    background-color: transparent;
    padding: 15px 40px 15px 0;
    height: 20px;
}
.recent-block .folio-wrap {
    width: 100%;
}
.recent-block .folio-wrap li {
    margin: 0 -10px;
}
.recent-block .folio-item {
    width: 25%;
    float: left;
    padding: 0 10px;
    position: relative;
    margin-top: 10px;
}
.recent-block .folio-item>img {
    min-width:100%;
}
.folio-item {
    overflow: hidden;
}


/* -----------------------------------------
   -- Mini news
----------------------------------------- */


.small-news {
    position: relative;
}
.small-news .more>img {
    min-width: 100%;
}
.small-news p {
    margin-bottom: 0;
}
.small-news .entry-summary {
    padding-top: 7px;
}

.small-news .ovh {
    padding-left: 20px;
    border-left: 1px solid #efefef;
    margin-bottom: 4px;
}
.small-news .post-info {
    padding-bottom: 4px;

}
.entry-title, .box-name {
    font-size: 17px;
    line-height: 1;
    font-weight: normal;
    padding: 0;

}
.entry-title a{
    color: inherit;
}


/* -----------------------------------------
   Accordion
----------------------------------------- */
.block-accordion {
    padding-top: 20px;
}
ul.accordion {
    margin: 0 0 22px 0;
    border-bottom: none;
}
ul.accordion > li .content {
    padding: 15px 5px;
    text-align: right;

}
ul.accordion > li {
    background: #ffffff;
    border:none;
}
ul.accordion > li.active .content {
    background: #fff;
    border: none;
}
ul.accordion > li > div.title {
    display: table;
    width: 100%;
    background: #ffffff;
    border: none;
    padding: 0;
}
ul.accordion > li > div.title h6 {
    text-align: right;
    padding: 10px;
    display: table-cell;
    border-bottom: 1px solid #edf2f4;
}
ul.accordion > li.active > div.title {
    padding-top: 0;
}
ul.accordion > li:last-child > div.title .icon_wrap,
ul.accordion > li:last-child > div.title h6 {
    border-bottom: 0;
}

ul.accordion > li > div.title .icon_wrap {
    border-bottom: 1px solid #edf2f4;
    padding: 10px 0;
    display: table-cell;
    width: 65px;
    vertical-align: middle;
    text-align: center;
    font-size: 17px;
}
ul.accordion > li.active {
    border: none;
    margin-bottom: 0;
}
ul.accordion > li.active .title::after {
    display: none;
}
ul.accordion > li > div.title::after {
    display: none;
}
ul.accordion > li > div.title h1, ul.accordion > li > div.title h2, ul.accordion > li > div.title h3, ul.accordion > li > div.title h4, ul.accordion > li > div.title h5 {
    margin: 0;
    font-size: 15px;
    font-weight: normal;
}
ul.accordion p {
    margin: 0;
}

/* -----------------------------------------
   Features with icon block
----------------------------------------- */

.crum_widget_features > .row, .widget_crum_widget_features > .row{
    padding-top: 10px;
    margin-bottom: 40px;
}
.widget_crum_widget_features > .row:last-child {
    margin-bottom: 0;
}
.service-icon {
    width: 80px;
    float: left;
}
.service-content h3 {
    margin: 0 0 15px;
    font-weight: 400;
}
.service-icon span{
    font-size: 26px;
    line-height: 50px;
    text-align: center;
    display: block;
    border-radius: 100em;
    behavior:url(border-radius.htc);
    width: 60px;
    height: 60px;
    border: 3px solid;
}
.service-icon:hover span {
    color: #fff;
}

.service-content {
    overflow: hidden;
}
.service-content p {
    margin-bottom: 0;
}



/* -----------------------------------------
   about me
----------------------------------------- */

.about_author_widget .avatar {
    float: left;
    margin-bottom: 20px;
    padding-top: 5px;
}
.about_author_widget .avatar img{
    border-radius: 100em;
    behavior:url(border-radius.htc);
    display: block;
}
.about_author_widget .quote-author {

}
.about_author_widget .text{
    padding: 5px 0 0 35px;
    margin: 10px 0 20px 145px;
    position: relative;
    border-left: 1px solid #e7e7e7;
}

.about_author_widget .text h5{
    padding-bottom: 10px;
}
.about_author_widget .additional-links {
    float: right;
}
.about_author_widget .additional-links a {
    margin: 0 10px;
    color: inherit;
    font-weight: 400;
}

.about-me-block .text {
    padding: 10px;
    margin: 10px;
    line-height: 1.5
}

.about_author_widget .quote-author {
    margin-bottom: 7px;
    font-size: 17px;
    display:inline;
}
.about_author_widget .quote-sub
{
    font-style: italic;
}

/* -----------------------------------------
   Small news block
----------------------------------------- */
article.mini-news {
    margin-bottom: 35px;
    min-height: 80px;
}
article.mini-news:last-child {
    margin-bottom: 0;
}
.mini-news .entry-thumb {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 0;
}
.mini-news p {
    margin-bottom: 0;
}

aside .mini-news .entry-thumb {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.mini-news .entry-title {
    font-size: 16px;
    padding: 0 0 5px 0;
    margin-top: -3px;
}
.mini-news .entry-summary {
    padding-top: 14px;
    overflow: hidden;
}

.small-news.horizontal {
    margin-bottom: 0;
}

.featured-news .small-news.vertical {
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #f1f1f1;
}

/* -----------------------------------------
   Progress lines
----------------------------------------- */
@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 30px 0;
    }
    to {
        background-position: 0 0;
    }
}
@-moz-keyframes progress-bar-stripes {
    from {
        background-position: 30px 0;
    }
    to {
        background-position: 0 0;
    }
}
@-ms-keyframes progress-bar-stripes {
    from {
        background-position: 30px 0;
    }
    to {
        background-position: 0 0;
    }
}
@-o-keyframes progress-bar-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 30px 0;
    }
}
@keyframes progress-bar-stripes {
    from {
        background-position: 30px 0;
    }
    to {
        background-position: 0 0;
    }
}


div.progress {
    border: 1px solid #eceff0;
    height: 11px;
    background: #f8f8f8;
    padding: 0;
    border-radius: 2px;
    behavior:url(border-radius.htc);
    margin-bottom: 12px;
}

div.progress .meter {
    color: #fff;
    font-size: 15px;
    text-indent: 10px;
    line-height: 26px;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    -o-background-size: 30px 30px;
    background-size: 30px 30px;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

div.progress .meter {
    margin: -1px;
    border-radius: 2px;
    behavior:url(border-radius.htc);
    height: 11px;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;

}

.skills_widget label {
    margin: 0 0 12px;
    font-size: 14px;
    font-style: italic;
}

.skills_widget .skill-percent {
    padding-left: 40px;
    background: url(../../img/skill-divider.png) 17px 7px no-repeat;
}
.skills_widget .skill-percent span {
    font-size: 15px;
    padding-left: 5px;
}


/* -----------------------------------------
   Braking news block
----------------------------------------- */

.crum_stiky_news {
    display: table;
    width:100%;
}

.crum_stiky_news .blocks-label {
    display: table-cell;
    vertical-align:middle;
    color: #fff;
    font-weight: 400;
    padding: 0 10px;
    font-size: 15px;
    text-align: center;
    font-style: italic;

}
.blocks-label a {
    color: #fff;
}
.crum_stiky_news .blocks-text {
    display: table-cell;
    padding:8px 30px;
    border: 1px solid #ededed;
    border-left: none;

}
.crum_stiky_news .blocks-text p{
    margin-bottom:0;
}

/* -----------------------------------------
   Recent items - slides
----------------------------------------- */



.css3slide-container {
    max-width: 1200px;
    width:100%;
    overflow: hidden;
    position: relative;
}
.css3slide-container .wrapper {
    position: relative;
    margin-right:-20px;
}
.css3slide-block {
    width: 25%;
    float: left;
    -webkit-transition: margin .4s ease-in-out;
    -moz-transition: margin .4s ease-in-out;
    -o-transition: margin .4s ease-in-out;
    -ms-transition: margin .4s ease-in-out;
    transition: margin .4s ease-in-out

}
.css3slide-block:hover {
    margin-right:25%;
}
.css3slide {
    padding-right:20px;
}
.css3slide .post-info {
    margin-bottom: 10px;
}
.css3slide .entry-thumb {
    float: left;
    width:100%;
    margin-bottom:0;
}
.css3slide-block .post-desc {
    position:absolute;
    left:100%;
    width:100%;
    padding-right:20px;
}
/* -----------------------------------------
   Latest gallery
----------------------------------------- */
.gallery-wrap {
    margin-left: -1%;
}
.gallery-wrap .folio-item {
    float: left;
    position: relative;
    margin-left: 1%;
}
.gallery-wrap .folio-item a.more-link span {
    top: 30px;
}

.twelve>.gallery-wrap>.folio-item>img {
    min-width: 100%;
    display: block;
}

.twelve>.gallery-wrap>.folio-item {
    width: 32.3%;
}
.crum_galleries_widget .entry-thumb, .widget_crum_galleries_widget .entry-thumb {
    margin-bottom: 0;
}
.widget_crum_galleries_widget h4.box-name {
    font-style: italic;
    font-size: 16px;
    margin-top: 15px;
}







