

/* -----------------------------------------
   Fixed menu navigation
----------------------------------------- */

//#header .row {    padding-bottom: 18px;}
.header-navi {
    width: 100%;
    z-index: 999;
    top:0;
    background:#bf002d;
}
.header-navi-inner {
    width: 1200px;
    margin: 0 auto;
}
.small-logo {
    max-width: 15%;
    float:left;
    margin:7px 0 0 2%;
}
.small-logo img {
    max-height:35px;
}
.droped-navi {
    position:fixed;
    display: none;
    left:0;
    top:-60px;
    height:56px;
    width:100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
//    background: rgba(191, 0, 45, .85);
	background: rgba(70, 70, 70, .85);
    z-index:9999;
    padding:3px 0 0;
    opacity:0;
}
.droped-navi.active {
    display: block;
}
.droped-navi-inner {
    max-width:1200px;
    margin:0 auto;
}
#drop-top-menu {
    float:right;
}
#drop-top-menu li .menu-item-wrap:before {
    display:none;
}
#header  #drop-top-menu .menu li .link-desc {
    display:none;
}
#drop-top-menu li {
    list-style:none;
}
#drop-top-menu > ul > li {
    margin: 0 !important;
	float:left;
    font-size:14px;
}
#top-menu {
    float: none;
    padding-top: 12px;
}
#top-menu>.menu {
    margin: 0 auto;
    padding: 0 10px;
}
#header #drop-top-menu .menu > li {
    width:auto;
    padding-bottom:0;
}
#header #drop-top-menu .menu {
    width:auto;
    margin-top:13px;
}
}
#header #drop-top-menu .menu ul li > .menu-item-wrap .link-text:hover,
#header #drop-top-menu .menu ul .current-menu-item > .menu-item-wrap .link-text  {
    color:#ffffff;
}
#header #drop-top-menu .menu > li > .menu-item-wrap {
    padding:0 40px 20px 0;
}
#header #drop-top-menu .menu > li > ul {
    margin: 0;
    top: 38px;
	left: -170px;
}
#header #drop-top-menu .menu > li > ul  .link-text { color: #828a93; }
#header #drop-top-menu .menu > li > ul  .link-text:hover { color: #fff; }

/* -----------------------------------------
   Top menu
----------------------------------------- */

#header.horizontal #top-menu>ul>li>.menu-item-wrap {
    display: block;
}

.has-submenu > span .link-text {
    display: inline-block;
    padding-right: 15px;
    background: url(../../img/arrow-drop.png) 100% 50% no-repeat;
    
}
#header .menu {
    width: 100%;
    float: left;
    margin-bottom: 0px;
    
}
#header .menu>li {
    position: relative;
    width: 20%;
    margin-right: 5%;
    float: left;
    text-align: left;
    min-height: 55px;
}

#header .menu>li ul li .link-text {
    padding: 8px 10px 8px 35px;
    font-size: 14px !important;
    
    
}
#top-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#header .menu>li.last {
    margin-right: 0;
    padding-right: 0;
}
#header .menu>li:last-child ul {
    right: 0;
    left: auto;
}
#header .menu>li>.under {
    display: none;
}
#header .menu>li>.menu-item-wrap {
    display: block;
    cursor: pointer;
    min-height: 50px;
}
#header .menu .no_icon .link-text {
    display: inline-block;
    margin-top: 23px;
    
}
#header .menu>li:last-child>ul {
    right: 0;
}
#header .menu>li>ul>li:first-child:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 12px solid #eaeced;
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -14px;
}
#header .menu>li>ul>li:first-child:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid #ffffff;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -11px;
}
#header .menu>li>ul>li:first-child {
    padding-top:15px;
}
#header .menu>li>ul>li:last-child {
    padding-bottom:10px;
}
#header .menu>li>ul {
    border: 1px solid #eaeced;
    position: absolute;
    top: 55px;
    width: 350px;
    max-width: 600%;
    overflow: visible !important;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
    background: rgba(255,255,255,.95);
    opacity: 0;
    visibility: hidden;
    border-radius: 3px;
    z-index:9999;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    overflow: visible !important;
}
#header .menu>li>ul>li{
    position: relative;
    padding-bottom:5px;
}
#header .menu>li>ul>li>ul{
    position: absolute;
    height: 0;
    overflow: hidden;
    left: 0;
    top: -3px;
    display: none;
    min-width: 200px;
    width: 255px;
    background: #ffffff;
    border: 1px solid #eaeced;
    border-radius: 3px;
}
#header .menu>li>ul>li:hover>ul{
    height: auto;
    display: block;
    left: 100%;
}

#top-menu ul li ul .link-text {
    margin-left: 0;
    
}

#header .menu>li ul li .link-text {
    padding: 8px 10px 8px 35px;
    font-size: 14px !important;
    
}
#header .menu>li>ul>li:first-child:after {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid #ffffff;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -11px;
}
#header .menu>li>ul>li:first-child:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 12px solid #eaeced;
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -14px;
}

#header .menu .link-desc {
    font-weight: normal;
    font-style: italic;
    color: #ffffff;
    font-size: 13px;
    line-height: 20px;
    display: block;
    white-space: nowrap;
}
#header .menu>li:hover>ul {
    opacity: 1;
    visibility: visible;
}
#header .menu>li ul li .menu-item-wrap {
    display: block;
}
#header .menu>li ul li .menu-item-wrap a {
    display: block;
}

#header .menu> li ul  .mega-text  a{
    display: inline-block !important;
}


#header .menu > li >ul>li>.menu-item-wrap>a:hover,
#header .menu > li > ul > li >ul>li>.menu-item-wrap>a:hover,
#header .menu > li>ul>li.current-menu-item>.menu-item-wrap>a {
    background: #99a7ac;
    margin: 0 -1px;
    padding: 0 1px;
}
#header .menu > li > ul > li > span > a:hover > .link-text,
#header .menu ul > li  > ul > li > span > a:hover > .link-text {
    color: #fff;
}
#header .menu>li ul li .link-text {
    display: block;
    padding: 10px 10px 10px 35px;
    text-transform: none;
    font-size: 14px;
    color: #7b7b7b;
}
#header .menu>li .link-text {
    display: block;
    font-size: 14px;
    color: #FFF ;
}
#top-menu .current-menu-item>span .tile-icon .normal-icon,
#top-menu li>span .tile-icon .active-icon {
    display: none;
}
#top-menu .current-menu-item>span .tile-icon .active-icon {
    display: inline;
}
#header .menu.current-menu-item > span .link-text {
    color: #fff;
}
.top-menu-button {
    display: none;
}
#top-menu .current-menu-item>span .tile-icon .normal-icon,
#top-menu li>span .tile-icon .active-icon,
#top-menu .current-menu-item>span .tile-icon .active-icon,
#top-menu .tile-icon img {
    display: none;
}

.tile-icon {
    font-family: 'fontello';
    position: relative;
    font-size:40px;
    line-height:46px;
    text-align:center;

}
#header .menu>li:hover>.under {display:none !important;}
#header .menu .current-menu-item > span  .link-text {color: #5e6063}

#header .menu> li >ul>li>.menu-item-wrap>a:hover,
#header .menu > li > ul > li >ul>li>.menu-item-wrap>a:hover,
#header .menu > li>ul>li.current-menu-item>.menu-item-wrap>a {
    background: #29beef;
}
#header .menu>li ul li .link-text {
    padding: 8px 10px 8px 35px;
    font-size: 14px !important;
    
}
#header .menu>li>ul>li:first-child:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #eaeced;
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -11px;
}
#header .menu>li>ul>li:first-child:after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 7px solid #ffffff;
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -10px;
}

#header .phone {font-weight: 400;}

.twitter-row iframe { display:none; }

.twitter-row .icon {width: 40px; margin-right:25px;}

/*  Fix 28.05 
2cols masonry blog
  */

.lost_password-link {
    margin-top: 4px;
}
#grid-posts.col-2 article.small-news {
    width: 49.9% !important;
    margin-left: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
}

/* -----------------------------------------
   Additional
----------------------------------------- */

#header #drop-top-menu .menu .link-text:hover{
    color:#000;
}